.seoaic-posts-table {
  width: 100%;
  z-index: 8;

  .header {
    min-height: 275px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 99.5%;

    .head-buttons {
      display: flex;
      gap: 10px;
    }

    .seoaic-flip-front {
      -webkit-transform: translateZ(75px);
      -moz-transform: translateZ(75px);
      -ms-transform: translateZ(75px);
      -o-transform: translateZ(75px);
      transform: translateZ(75px);
    }

    .seoaic-flip-side {
      -webkit-transform: rotateX(-90deg) translateZ(-100px) translateY(-8px);
      -moz-transform: rotateX(-90deg) translateZ(-100px) translateY(-8px);
      -ms-transform: rotateX(-90deg) translateZ(-100px) translateY(-8px);
      -o-transform: rotateX(-90deg) translateZ(-100px) translateY(-8px);
      transform: rotateX(-90deg) translateZ(-100px) translateY(-8px);
    }

    .filters-switcher {
      display: flex;

      .filter-rows {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .filter-row {
          display: flex;
          align-items: center;
          justify-content: start;
        }
      }

      .filter-btn {
        border-radius: 39px;
        border: 1px solid #587CF6;
        background-color: #EEF2FE;
        color: #587CF6;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        padding: 6px 22px;
        transition: 200ms ease-out all;

        &:hover {
          background-color: #587cf6;
          color: #FFF;
        }

        &:focus {
          box-shadow: none;
          outline: none;
        }

        &.active {
          border: 1px solid rgba(16, 7, 23, 0.10);
          color: #100717;
          pointer-events: none;
        }

        + *:not(.posts-per-page) {
          margin-left: 8px;
        }
      }

      .seoaic-checked-amount {
        color: #000;
        margin-right: 10px;
      }
    }

    .posts-search-form {
      display: flex;
      gap: 15px;
    }

    .posts-search-form {
      .f-text {
        flex: auto 0 0;
      }
      .f-title {
        flex: 25% 1 1;
      }
      .f-words-count {
        flex: 15% 1 1;
      }
      .f-date {
        flex: 15% 1 1;
      }
      .f-btn {
        flex: 40px 0 0;
      }

      .filters-label {
        color: #100717;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline-block;
        margin-top: 25px;
      }

      .picker-call {
        top: 5px;
        width: 30px;
        height: 30px;
      }

      input[type="text"] {
        background-color: #fff;
        padding: 0 inherit 0 inherit;
        min-height: 40px;
      }

      .filter-search-btn,
      .filter-clear-btn {
        width: 38px;
        height: 38px;
        display: inline-block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0;
        border: 0;
        cursor: pointer;
        bottom: 2px;
      }
      .filter-search-btn {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Crect width='30' height='30' rx='3' fill='%23100717'/%3E%3Ccircle cx='14.294' cy='14.294' r='4.794' stroke='%23fff'/%3E%3Cpath d='M17.47 18.176L20.295 21' stroke='%23fff'/%3E%3C/svg%3E");
      }
      .filter-clear-btn {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Crect width='30' height='30' rx='3' fill='%23100717'/%3E%3Cpath d='M8 8L22 22M22 8L8 22' stroke='%23fff'/%3E%3C/svg%3E");
      }
    }

    .posts-per-page {
      display: grid;
      width: 180px;
      margin-left: auto;

      .pp-text {
        flex: auto 0 0;
        margin: auto 0;

        span {
          color: #100717;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          display: inline-block;
          margin-top: 25px;
        }
      }

      .pp-select {
        min-height: 40px;
        max-height: 40px;
        line-height: 1;
      }
    }

    .form-input {
      border: 1px solid #f1ebf7;
    }
  }

  .seoaic-posts-table__container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .seoaic-posts-table__row {
    display: flex;
    flex-flow: row wrap;
    min-height: 130px;
    background-color: #fff;
    align-items: center;
    border: 1px solid #f1ebf7;
    border-radius: 5px;
    width: 94%;
    position: relative;

    @keyframes post-highlight {
      to {
        background-position-x: -200%;
      }
    }

    &.updating {
      background: linear-gradient(110deg,#fff 8%,#ebe4f2 18%,#fff 33%);
      background-size: auto;
      background-size: 200% 100%;
      animation: post-highlight 2s linear infinite;
      opacity: 0.65;

      .col-id {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .seoaic-posts-table__row-action-item {
        cursor: initial;
      }

      .post-updating-label {
        transform: rotate(90deg);
        font-size: 14px;
      }
    }

    &--head {
      font-weight: 700;
      font-size: 14px;
      line-height: 15px;
      background-color: transparent;
      color: #100717;
      min-height: auto;
      max-height: 17px;
      border: 0;

      div {
        text-align: center;
      }
    }

    .update-status {
      font-size: 14px;
      font-weight: 500;

      &-completed {
        color:darkgreen;
      }

      &-failed {
        color: #ee6f90;
      }
    }

    .seoaic-posts-table__row-item:nth-child(1) {
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
      flex: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;

      & > div {
        height: 80%;
        border-right: 1px solid #f2ebf7;
        display: flex;
        justify-content: center;
        align-self: stretch;
        align-items: center;
      }
    }

    .seoaic-posts-table__row-item:nth-child(2) {
      flex: 130px;
    }

    .seoaic-posts-table__row-item:nth-child(3) {
      flex: calc(75% - 130px - 120px - 130px);
      color: #21142b;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > div {
        height: 80%;
        border-right: 1px solid #f2ebf7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
      }
    }

    .seoaic-posts-table__row-item:nth-child(4) {
      flex: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;

      & > div {
        height: 80%;
        border-right: 1px solid #f2ebf7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .seoaic-posts-table__row-item:nth-child(5) {
      flex: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;

      & > div {
        height: 80%;
        border-right: 1px solid #f2ebf7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .seoaic-posts-table__row-item:nth-child(6) {
      flex: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 5px;
    }

    .seoaic-posts-table__row-action-item {
      position: absolute;
      top: 0;
      right: -6%;
      bottom: 0;
      margin: auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5%;
      background-color: #100717;
      border: 1px solid #100717;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;

      &--head {
        border: none;
        background-color: transparent;
        color: inherit;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .seoaic-post-title {
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
      margin-top: 10px;
    }

    .seoaic-post-datetime {
      font-size: 12px;
      line-height: 13px;
      font-weight: 500;
      opacity: 0.5;
    }

    .seoaic-post-langs-wrapper {
      display: flex;

      .langs-separator {
        display: inline-block;
        // height: 20px;
        border-right: 1px solid #f2ebf7;
        margin: 0 20px;
      }

      @keyframes blinking {
        0% {
          opacity: 0.2;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.2;
        }
      }

      .seoaic-post-translations {
        gap: 15px;
      }

      .translating {
        animation: blinking linear 2s infinite;

        &.failed {
          animation: unset;
          border: 1px solid red;
        }
      }
    }

    .seoaic-post-image {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 130px;
      object-fit: cover;
    }

    .post-status {
      border: 1px solid #587cf7;
      border-radius: 39px;
      font-size: 14px;
      line-height: 15px;
      padding: 8px 15px;
      background-color: #eef2fe;
      color: #587cf7;

      &--draft {
        background-color: #f6edfe;
        border-color: #aa4ff6;
        color: #aa4ff6;
      }
    }

    .review-result {
      input[type=checkbox] ~ label::after {
        content: "More details";
        transition: all 0.2s linear;
        font-weight: 500;
        text-decoration: underline;
      }

      input[type=checkbox]:checked ~ label::after {
        content: "Less details";
      }

      input[type=checkbox]:checked {
        & ~ .review-details-wrapper {
          .review-details {
            max-height: 300px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .review-result-text {
      cursor: help;
      font-size: 14px;
      font-weight: 600;
      color: #100717;
    }

    .review-details-wrapper {
      display: flex;
    }

    .review-details {
      max-height: 0;
      overflow: scroll;
      transition: all 0.2s linear;
    }
  }
}
