.dashboard-page {
  padding: 73px 71px !important;

  .row {
    &.full-width {
      --row-x: 10px;
      --row-y: 10px;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--row-y) * -1);
      margin-right: calc(var(--row-x) * -0.5);
      margin-left: calc(var(--row-x) * -0.5);

      > * {
        width: 100%;
        padding-right: calc(var(--row-x) * 0.5);
        padding-left: calc(var(--row-x) * 0.5);
        margin-top: var(--row-y);
        flex: 1 0 100%;
        max-width: 100%;

        @media (min-width: 1200px) {
          flex: 1 0 50%;
          max-width: 50%;
        }

        @media (min-width: 1380px) {
          flex: 1 0 25%;
          max-width: 25%;

          &.dashboard-ranking-graph {
            flex: 1 0 100%;
            max-width: 100%;

            @media (min-width: 1200px) {
              flex: 1 0 50%;
              max-width: 50%;
            }
          }
        }

        &.month-stats, &.ranking-position, &.dashboard-ranking-graph {
          .inner {
            min-height: 330px;
            justify-content: start;
          }
        }

        &.dashboard-ranking-graph {
          flex: 1 0 100%;
          max-width: 100%;

          @media (min-width: 1380px) {
            flex: 1 0 50%;
            max-width: 50%;
          }

          .inner {
            height: 380px !important;
            @media (min-width: 1380px) {
              height: 330px !important;
            }
          }
        }

        &.general-seo-checklist {
          .inner {
            min-height: 470px !important;
          }
        }

        > .inner {
          border-radius: 5px;
          border: 1px solid #F1EBF7;
          background-color: #FFF;
          padding: 20px 35px;
          min-height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .table-title {
            color: #100717;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 14px;
          }

          .table-line-float {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #F1EBF7;
            color: #100717;
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 5px 0;

            .key {
              font-weight: 700;
            }

            &.last {
              border-bottom: 1px solid #F1EBF7;
            }
          }

          a {
            &:not(.tab):not([target="_blank"]) {
              color: #100717;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-decoration-line: underline;
              margin-top: 20px;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cg clip-path='url(%23clip0_1973_2236)'%3E%3Cpath d='M7 9.08594C7.9665 9.08594 8.75 8.30244 8.75 7.33594C8.75 6.36944 7.9665 5.58594 7 5.58594C6.0335 5.58594 5.25 6.36944 5.25 7.33594C5.25 8.30244 6.0335 9.08594 7 9.08594Z' fill='black'/%3E%3Cpath d='M13.5363 7.18719C13.0217 5.85616 12.1284 4.70508 10.9668 3.87622C9.80514 3.04737 8.42608 2.57706 7.00006 2.52344C5.57403 2.57706 4.19498 3.04737 3.03333 3.87622C1.87169 4.70508 0.978378 5.85616 0.463808 7.18719C0.429056 7.28331 0.429056 7.38857 0.463808 7.48469C0.978378 8.81572 1.87169 9.96679 3.03333 10.7956C4.19498 11.6245 5.57403 12.0948 7.00006 12.1484C8.42608 12.0948 9.80514 11.6245 10.9668 10.7956C12.1284 9.96679 13.0217 8.81572 13.5363 7.48469C13.5711 7.38857 13.5711 7.28331 13.5363 7.18719ZM7.00006 10.1797C6.43762 10.1797 5.88781 10.0129 5.42016 9.70043C4.9525 9.38795 4.58801 8.94382 4.37278 8.42419C4.15754 7.90457 4.10122 7.33278 4.21095 6.78115C4.32068 6.22952 4.59152 5.72281 4.98922 5.3251C5.38693 4.9274 5.89364 4.65656 6.44527 4.54683C6.9969 4.4371 7.56869 4.49342 8.08831 4.70866C8.60794 4.92389 9.05207 5.28838 9.36455 5.75603C9.67702 6.22369 9.84381 6.7735 9.84381 7.33594C9.84265 8.08979 9.54267 8.81244 9.00961 9.34549C8.47656 9.87855 7.75391 10.1785 7.00006 10.1797Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1973_2236'%3E%3Crect width='14' height='14' fill='white' transform='translate(0 0.335938)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-position: left center;
              padding-left: 18px;
            }
          }

          .top-table {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-bottom: 6px;

            &:after {
              content: '';
              height: 1px;
              width: 100%;
              background: linear-gradient(271deg, #5D78F7 0.62%, #A551F6 93.05%);
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
            }

            > * {
              width: 33.9999%;
              color: #100717;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;

              &:nth-child(2) {
                text-align: center;
              }

              &:nth-child(3) {
                text-align: end;
              }
            }
          }

          .table-line {
            .label {
              padding: 6px 0;
              color: #100717;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }

            .values {
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: relative;
              padding: 8.8px 0;
              border-top: 1px solid #F1EBF7;
              border-bottom: 1px solid #F1EBF7;
              white-space: nowrap;

              &.last {
                border-bottom: 0;
              }

              > * {
                width: 33.9999%;
                color: #100717;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &:nth-child(2) {
                  text-align: center;
                }

                &:nth-child(3) {
                  text-align: end;
                }
              }
            }
          }
        }

        &.number-value {
          text-align: center;

          .inner {
            max-height: 150px;

            .value {
              background: var(--Gradient, linear-gradient(271deg, #5D78F7 0.62%, #A551F6 93.05%));
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin-bottom: 9px;
              font-size: 50px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;;
            }

            .title {
              color: #100717;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3; /* number of lines to show */
              line-clamp: 3;
              -webkit-box-orient: vertical;
            }

          }
        }

        &.dashboard-ranking-graph {

          .score_status {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            text-align: center;
            right: 10px;
            display: none;
            z-index: 9991;
          }

          &.seoaic_average_score_empty {
            //opacity: 0;
            //visibility: hidden;

            .inner {
              > * {
                opacity: .2;
              }

              position: relative;

              &:before {
                content: "";
                display: block;
                position: absolute;
                left: calc(var(--row-x) * 0);
                right: calc(var(--row-x) * 0);
                top: 0;
                bottom: 0;
                background-color: #0c0c0c;
                opacity: .6;
                border-radius: 5px;
                z-index: 9990;
              }
            }

            .score_status {
              display: block;

              > * {
                display: block;
                color: #fff;

                &a {
                  display: inline-block;
                  border-radius: 39px;
                  border: 1px solid #587cf6;
                  background-color: #587cf6;
                  color: #fff;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  padding: 6px 22px;
                  transition: all .2s ease-out;
                  text-decoration: none;
                  margin-bottom: 8px;

                  &:hover {
                    transform: translateY(-2px);
                    background-color: #eef2fe;
                    color: #587cf6;
                  }
                }
              }
            }
          }

          .inner {
            text-align: center;
            padding: 10px;

            .title {
              color: #100717;
              text-align: center;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              max-width: 220px;
              margin: 0 auto 26px;
            }

            .score-wrap {
              max-height: 120px;
              overflow: hidden;

              .score {
                --minus-progress: calc(var(--progress) * -1);

                .skills-container {
                  max-height: 120px;
                  overflow: hidden;

                  .circular-progress {
                    &,
                    &:before,
                    &:after {
                      width: 244px;
                      height: 244px;
                      border-radius: 50%;
                    }

                    margin: auto;

                    position: relative;

                    &:before,
                    &:after {
                      position: absolute;
                      top: 0;
                      left: 0;
                      box-sizing: border-box;
                      text-align: center;
                    }

                    &:before {
                      padding: 35px;
                      line-height: 99999;
                      //line-height: 140px;
                      font-size: 2rem;
                      font-weight: bold;
                    }

                    &:after {
                      font-size: .8rem;
                      font-weight: normal;
                      text-transform: uppercase;
                      line-height: 230px;
                    }

                    &.html {

                      background: linear-gradient(0deg, rgba(93, 120, 247, 1) 0%, rgba(165, 81, 246, 1) 50%, rgba(93, 120, 247, 0.3) 50%, rgba(165, 81, 246, 0.3) 100%);
                      transform: rotate(var(--progress));

                      &:before, &:after {
                        color: #F1642C;
                      }

                      &:before {
                        background: #fff content-box;
                        transform: rotate(var(--minus-progress));
                        content: "";
                      }

                      &:after {
                        background: linear-gradient(transparent 50%, #fff 50%);
                        content: "";
                        transform: rotate(var(--minus-progress)) scale(1.1);
                      }

                    }
                  }
                }

                @function get-procent() {
                  $progress: var(–-progress);
                  @return percentage($progress);
                }

              }

              .value {
                color: #100717;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 28px;
                position: relative;
                transform: translateY(-147%);
              }
            }
          }
        }

        &.general-seo-checklist {
          > .inner {
            padding: 25px 0 58px;

            .title {
              color: #100717;
              text-align: center;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin: 0 auto 31px;
            }

            ul {
              &.list {
                margin: 0;
                padding: 0 35px;
                max-height: 311px;
                overflow-y: scroll;
                margin-right: 5px;

                &::-webkit-scrollbar {
                  background: transparent;
                  width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                  border-radius: 30px;
                  background: #EAEEF9;
                }

                li {
                  color: #100717;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 120.3%; /* 16.842px */
                  position: relative;
                  padding-left: 30px;

                  &:before {
                    content: '';
                    width: 17px;
                    height: 17px;
                    border-radius: 2.394px;
                    border: 1.197px solid #f1ebf7;
                    background: #eaeef9;
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                  }

                  &.checked {
                    &:before {
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='17' viewBox='0 0 19 17' fill='none'%3E%3Crect x='0.598485' y='0.598485' width='15.5606' height='15.5606' rx='1.79545' fill='%23EAEEF9' stroke='%23F1EBF7' stroke-width='1.19697'/%3E%3Cpath d='M4.78784 5.64945C5.2079 6.45137 5.76064 7.18171 6.21146 7.96717C6.996 9.33404 7.75723 10.7111 8.65506 12.008C8.67565 12.0377 8.82174 12.22 8.85037 12.1556C9.05305 11.6995 9.28189 11.2736 9.54482 10.8448C10.4944 9.29624 11.4887 7.75254 12.5917 6.30917C13.9668 4.50977 15.5192 2.85848 17.0536 1.19629' stroke='url(%23paint0_linear_738_4654)' stroke-width='2.39394' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_738_4654' x1='17.0536' y1='5.06907' x2='5.60753' y2='4.94578' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D78F7'/%3E%3Cstop offset='1' stop-color='%23A551F6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                      background-repeat: no-repeat;
                      background-size: contain;
                      background-color: transparent;
                      border: 0;
                      width: 20px;
                    }
                  }

                  + li {
                    margin-top: 15px;
                  }
                }
              }
            }
          }
        }

        &.table-list {
          --padding-row: 7px;
          --border-row-vertical-height: calc(var(--padding-row) * -1);
          --inner-bottom-padding: 17px;
          --last-border-row-vertical: calc((var(--padding-row) + var(--inner-bottom-padding)) * -1);

          flex: 1 0 100%;
          max-width: 100%;

          @media (min-width: 1200px) {
            flex: 1 0 50%;
            max-width: 50%;
          }

          > .inner {
            padding: 20px 0 var(--inner-bottom-padding);

            .title {
              color: #100717;
              text-align: center;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin: 0 auto 19px;
              max-width: 210px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2;
              -webkit-box-orient: vertical;
              display: flex;
              align-items: center;
              min-height: 43px;
            }

            > .table {
              .heading {
                position: relative;

                &:before, &:after {
                  content: '';
                  background: linear-gradient(271deg, #5D78F7 0.62%, #A551F6 93.05%);
                  width: 100%;
                  height: 1px;
                  position: absolute;
                  left: 0;
                  right: 0;
                }

                &:before {
                  top: 0;
                }

                &:after {
                  bottom: 0;
                }

                .table-row {
                  > div {
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background: var(--Gradient, linear-gradient(271deg, #5D78F7 0.62%, #A551F6 93.05%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    span {
                      position: static;
                    }
                  }
                }
              }

              .flex-table {
                +.flex-table {
                  margin-top: 14px !important;
                  height: 420px;
                  overflow-x: auto;

                  &::-webkit-scrollbar {
                    background: transparent;
                    width: 5px;
                  }

                  &::-webkit-scrollbar-thumb {
                    border-radius: 30px;
                    background: #100717;
                  }
                }
                > .row-line {
                  display: flex;
                  align-items: center;
                  border-radius: 5px;
                  border: 1px solid #F1EBF7;
                  background-color: #FFF !important;
                  padding: 14px 0;
                  margin-left: 16px;
                  margin-right: 16px;

                  &:not(.heading) {
                    min-height: 83.5px;
                  }

                  > div {
                    min-width: calc(100% / 6);
                    position: relative;
                    color: #100717;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding: 10px 0;
                    position: relative;

                    &:not(:first-child) {
                      &:not(:last-child) {
                        position: relative;

                        &:after {
                          content: "";
                          width: 1px;
                          background-color: #f2ebf7;
                          display: inline-block;
                          position: absolute;
                          right: 0;
                          top: 50%;
                          height: 65px;
                          transform: translateY(-50%);
                        }
                      }
                    }

                    &.keyword {
                      font-weight: 700;
                      max-width: 50.8%;
                      min-width: 50.8%;
                      width: 100%;
                      padding: 0 30px!important;

                      > span {
                        cursor: pointer;
                      }

                      > a {
                        display: block;
                        font-size: 12px;
                        /* text-decoration: none; */
                        color: black;
                        font-weight: 500;
                        margin-bottom: -10px;
                        line-height: 2;
                      }

                      > button {
                        width: 26px;
                        height: 26px;
                        min-width: 26px;
                        border-radius: 3px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-size: 15px;
                        border: 0;
                        background-color: #FCEFF9;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_164_924)'%3E%3Cpath d='M15.8333 3.95837C16.0433 3.95837 16.2447 4.04178 16.3931 4.19025C16.5416 4.33871 16.625 4.54008 16.625 4.75004C16.625 4.96 16.5416 5.16137 16.3931 5.30983C16.2447 5.4583 16.0433 5.54171 15.8333 5.54171H15.0417L15.0393 5.59792L14.3007 15.9458C14.2722 16.3453 14.0935 16.7191 13.8004 16.992C13.5074 17.265 13.1218 17.4167 12.7213 17.4167H6.27792C5.87744 17.4167 5.49184 17.265 5.19878 16.992C4.90572 16.7191 4.72698 16.3453 4.69854 15.9458L3.95992 5.59871C3.95872 5.57973 3.95819 5.56072 3.95833 5.54171H3.16667C2.9567 5.54171 2.75534 5.4583 2.60687 5.30983C2.45841 5.16137 2.375 4.96 2.375 4.75004C2.375 4.54008 2.45841 4.33871 2.60687 4.19025C2.75534 4.04178 2.9567 3.95837 3.16667 3.95837H15.8333ZM11.0833 1.58337C11.2933 1.58337 11.4947 1.66678 11.6431 1.81525C11.7916 1.96371 11.875 2.16508 11.875 2.37504C11.875 2.585 11.7916 2.78637 11.6431 2.93483C11.4947 3.0833 11.2933 3.16671 11.0833 3.16671H7.91667C7.7067 3.16671 7.50534 3.0833 7.35687 2.93483C7.20841 2.78637 7.125 2.585 7.125 2.37504C7.125 2.16508 7.20841 1.96371 7.35687 1.81525C7.50534 1.66678 7.7067 1.58337 7.91667 1.58337H11.0833Z' fill='%23CB3C3C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_164_924'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        cursor: pointer;
                        margin-left: 8%;

                        &.collapse-button {
                          background-image: none;
                          background-color: #e3e3e300;
                          position: absolute;
                          opacity: 0;
                          visibility: hidden;
                          pointer-events: none;
                          top: 50%;
                          transform: translateY(-50%);
                          right: 3%;

                          &:before, &:after {
                            content: '';
                            width: 14px;
                            height: 2px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%);
                            background-color: #000;
                            transition: all 0.3s;
                          }

                          &:after {
                            top: 40%;
                          }

                          &:before {
                            top: 60%;
                          }

                          &.open {
                            &:after {
                              top: auto;
                              transform: translate(-50%) rotate(-45deg);
                            }

                            &:before {
                              top: auto;
                              transform: translate(-50%) rotate(45deg);
                            }
                          }

                        }
                      }
                    }

                    &.company-name {
                      font-weight: 700;
                      max-width: 18.8%;
                      min-width: 18.8%;
                      width: 100%;
                      padding-right: 3% !important;

                      > span {
                        cursor: pointer;
                        pointer-events: none;
                      }
                    }

                    &.rank {
                      min-width: 23.3%;
                      max-width: 23.3%;
                      width: 100%;
                      padding: 0 15px !important;
                      color: #100717;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                      text-align: center;

                      @media (max-width: 1600px) {
                        padding: 0 9px !important;
                      }

                      a {
                        color: #100717;
                        font-style: normal;
                        font-weight: 500;
                        text-decoration: none;
                        transition: all 0.3s;

                        &:hover {
                          color: #5D78F7;
                        }

                        + * {
                          margin-top: 4px;
                          color: #100717;
                          font-size: 14px;
                          font-style: italic;
                          font-weight: 400;
                          line-height: normal;
                          transition: all .3s;

                          &.empty {
                            display: none;

                            &.view {
                              display: block;
                            }

                            &:not(.loading) {
                              text-decoration: underline;
                              text-transform: lowercase;
                              font-size: 12px;
                              cursor: pointer;

                              &:hover {
                                color: #5d78f7;
                              }
                            }
                          }
                        }
                      }

                      label {
                        margin-bottom: 0;
                        margin-right: 5px;
                      }

                      select, select:focus, select:focus-visible, select:focus-within {
                        width: auto;
                        margin: 0 -1%;
                        background-color: transparent;
                        border: 1px solid rgba(0, 0, 0, .1);
                        color: #2c3338;
                        box-shadow: none;
                        text-align: center;
                        max-width: 115px;

                        @media (max-width: 1400px) {
                          font-size: 11px;
                          min-height: 20px;
                          padding: 0;
                          background-image: none;
                        }
                      }
                    }

                    &.search-vol {
                      text-align: center;
                      min-width: 23.3%;
                      max-width: 23.3%;
                      width: 100%;
                      padding: 0 15px !important;
                      font-size: 16px;

                      @media (max-width: 1600px) {
                        padding: 0 9px !important;
                      }
                    }

                    &.page {
                      max-width: 50.8%;
                      min-width: 50.8%;
                      width: 100%;
                      padding: 0 30px !important;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      color: #100717;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                      text-align: start;
                      flex-direction: column;
                      align-items: start;

                      a {
                        color: #100717;
                        font-style: normal;
                        font-weight: 500;
                        text-decoration: none;
                        transition: all 0.3s;
                        word-break: break-all;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        -webkit-box-orient: vertical;

                        + span {
                          overflow: hidden;
                          display: -webkit-box;
                          -webkit-line-clamp: 2;
                          line-clamp: 2;
                          -webkit-box-orient: vertical;
                          color: #100717;
                          font-style: italic;
                          font-weight: 400;
                          line-height: normal;
                          margin-top: 7px;
                        }

                        &:hover {
                          color: #5D78F7;
                        }
                      }

                      label {
                        margin-bottom: 0;
                        margin-right: 5px;
                      }

                      .inner {
                        --margin-top: 6px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .key {
                          width: 70%;
                          font-weight: 700;

                          ~ .key {
                            margin-top: var(--margin-top);
                          }
                        }

                        .value {
                          width: 30%;
                          text-align: end;
                          display: flex;
                          justify-content: end;
                          white-space: nowrap;

                          ~ .value {
                            margin-top: var(--margin-top);
                          }
                        }
                      }
                    }
                  }

                  &.heading {
                    background-color: transparent;
                    border: 0;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 18px;
                    padding-right: 18px;

                    > div {
                      color: #100717;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                      border: 0 !important;
                      padding: 0;
                      cursor: pointer;
                    }

                    + .row-line {
                      margin-top: 7px;
                    }

                    > * {
                      &:after {
                        content: none !important;
                      }
                    }

                  }

                  + .row-line {
                    margin-top: 10px;
                  }
                }

                &.top-pages-dashboard {
                  .row-line {
                    .page {
                      max-width: 76.8%;
                      min-width: 76.8%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}