#seoaic-admin-container {
  overflow: visible;

  .idea-page {
    padding: 30px 30px 50px 30px;

    > .row {
      --row-x: 82px;
      width: 100%;

      > .left-side {
        .header {
          min-height: 134px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.10);
          margin-bottom: 21px;

          .head-buttons {
            margin-left: -5px;
            margin-right: -5px;
            display: flex;
            align-items: stretch;

            > * {
              width: 50%;
              margin: 0 5px;
              min-height: 60px;
              position: relative;

              &.button-primary, > .button-primary {
                border-radius: 5px;
                background-color: #100717;
                border: 2px solid #100717;
                font-size: 16px !important;
                text-align: center;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: relative;
              }

              &.outline {
                color: #100717;
                background-color: transparent;
                padding: 15px;

                span {
                  vertical-align: middle;
                  font-size: 13px;
                  margin-top: 6px;
                  margin-right: -4px;
                }
              }
            }
          }

          .schedule-switcher {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 22px;


            > * {
              border-radius: 39px;
              border: 1px solid #587CF6;
              background-color: #EEF2FE;
              color: #587CF6;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-decoration: none;
              padding: 6px 22px;

              &:focus {
                box-shadow: none;
                outline: none;
              }

              &.active {
                border: 1px solid rgba(16, 7, 23, 0.10);
                color: #100717;
                pointer-events: none;
              }

              + * {
                margin-left: 8px;
              }
            }
          }
        }

        .seoaic-ideas-posts {
          margin-right: -20px;
          padding-right: 20px;
          height: 1200px;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            background: transparent;
            width: 5px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 30px;
            background: #100717;
          }

          .post {
            display: flex;
            align-items: center;

            + .post {
              margin-top: 10px;
            }

            &.failed {
              .idea-content {
                background-color: #ffc9c9 !important;
              }
            }

            .idea-content {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;
              background-color: #fff;
              border-radius: 5px;
              border: 1px solid #F1EBF7;
              background: #FFF;
              padding: 15px 20px 15px 0;
              min-height: 76px;

              .num {
                color: #100717;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 0 40px;
              }

              .heading {
                padding-left: 20px;
                border-left: 1px solid #F2EBF7;

                .title {
                  color: #100717;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  margin-right: 20px;
                }

                .seoaic-idea-icons {
                  margin-bottom: 10px;

                  > span {
                    color: #1E1E1E;
                    font-family: Archivo;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    opacity: 0.699999988079071;
                  }

                }
              }

              .button {
                width: 35px;
                height: 35px;
                border-radius: 3px;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: 20px;
                border: 0;
                min-width: 35px;
                border-radius: 3px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 20px;
                border: 0;

                + .button {
                  margin-left: 6px;
                }

                &.seoaic-remove-idea-button {
                  background-color: #FCEFF9;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_164_924)'%3E%3Cpath d='M15.8333 3.95837C16.0433 3.95837 16.2447 4.04178 16.3931 4.19025C16.5416 4.33871 16.625 4.54008 16.625 4.75004C16.625 4.96 16.5416 5.16137 16.3931 5.30983C16.2447 5.4583 16.0433 5.54171 15.8333 5.54171H15.0417L15.0393 5.59792L14.3007 15.9458C14.2722 16.3453 14.0935 16.7191 13.8004 16.992C13.5074 17.265 13.1218 17.4167 12.7213 17.4167H6.27792C5.87744 17.4167 5.49184 17.265 5.19878 16.992C4.90572 16.7191 4.72698 16.3453 4.69854 15.9458L3.95992 5.59871C3.95872 5.57973 3.95819 5.56072 3.95833 5.54171H3.16667C2.9567 5.54171 2.75534 5.4583 2.60687 5.30983C2.45841 5.16137 2.375 4.96 2.375 4.75004C2.375 4.54008 2.45841 4.33871 2.60687 4.19025C2.75534 4.04178 2.9567 3.95837 3.16667 3.95837H15.8333ZM11.0833 1.58337C11.2933 1.58337 11.4947 1.66678 11.6431 1.81525C11.7916 1.96371 11.875 2.16508 11.875 2.37504C11.875 2.585 11.7916 2.78637 11.6431 2.93483C11.4947 3.0833 11.2933 3.16671 11.0833 3.16671H7.91667C7.7067 3.16671 7.50534 3.0833 7.35687 2.93483C7.20841 2.78637 7.125 2.585 7.125 2.37504C7.125 2.16508 7.20841 1.96371 7.35687 1.81525C7.50534 1.66678 7.7067 1.58337 7.91667 1.58337H11.0833Z' fill='%23CB3C3C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_164_924'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                }

                &.seoaic-edit-idea-button {
                  background-color: #ECF0FC;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M11.9183 2.28599C12.4215 1.78264 13.1041 1.49983 13.8159 1.49976C14.5277 1.49969 15.2103 1.78237 15.7136 2.28562C16.217 2.78886 16.4998 3.47146 16.4999 4.18323C16.5 4.895 16.2173 5.57764 15.714 6.08099L15.045 6.75074L11.25 2.95499L11.9183 2.28599ZM10.455 3.75074L2.95502 11.25C2.65037 11.5547 2.43618 11.9379 2.33627 12.357L1.51502 15.8085C1.49279 15.902 1.49487 15.9996 1.52108 16.0921C1.54729 16.1845 1.59674 16.2687 1.66473 16.3366C1.73272 16.4045 1.81697 16.4539 1.90945 16.48C2.00193 16.5061 2.09956 16.5081 2.19302 16.4857L5.64377 15.6637C6.06316 15.564 6.44664 15.3498 6.75152 15.045L14.25 7.54574L10.455 3.75074Z' fill='%23587CF6'/%3E%3C/svg%3E");
                }
              }

              + .idea-btn {
                margin-left: 6px;
              }
            }

            .idea-btn {
              display: flex;
              align-self: normal;

              .button {
                padding: 0 !important;
                width: auto;
                min-width: 54px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='19' viewBox='0 0 11 19' fill='none'%3E%3Cpath d='M1 1L9.5 9.5L1 18' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                background-color: #100717 !important;
              }
            }
          }
        }
      }

      .right-side {

        button {
          cursor: pointer;
        }

        .seoaic-content-idea-box {
          > .seoaic-content-idea-box-slide {
            border: 0;

            .header {
              display: flex;
              flex-direction: column;
              min-height: 134px;
              border-bottom: 1px solid rgba(0, 0, 0, .1);
              margin-bottom: 21px;

              .top-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 12px;

                > * {
                  font-weight: 700;
                  line-height: normal;
                  margin: 0;
                }

                > h4 {
                  color: #100717;
                  font-size: 16px;
                }

                > a {
                  color: #100717;
                  text-align: center;
                  font-size: 12px;
                  text-decoration-line: underline;
                }
              }

              .results {
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.03);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 11px 0 13px;

                > * {
                  width: 33.3333%;
                  text-align: center;

                  > * {
                    color: #100717;
                    font-style: normal;
                    line-height: normal;
                  }

                  > .num {
                    font-size: 36px;
                    font-weight: 700;
                    margin-bottom: 2px;
                  }

                  > .text {
                    font-size: 14px;
                    font-weight: 500;
                  }

                  + * {
                    border-left: 1px solid rgba(0, 0, 0, 0.10);
                  }
                }
              }
            }

            .idea-box {
              display: flex;
              flex-direction: column;
              align-items: start;

              > button {
                //position: relative;
              }

              .seoaic-idea-content-section {
                padding: 0;
                border-top: none;
                width: 100%;
                margin-bottom: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                padding-bottom: 40px;

                > textarea {
                  border-radius: 5px;
                  border: 1px solid #F1EBF7;
                  background-color: #FFF;
                  resize: none;
                  max-height: 154px;
                  padding: 25px 30px;

                  &:focus {
                    border-color: #2271b100;
                    box-shadow: 0 0 0 1px #2271b100;
                    outline: 2px solid transparent;
                  }
                }

                > .top {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 20px;

                  > .seoaic-section-idea-title {
                    color: #100717;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0;

                    + span {
                      margin-right: auto;

                      &.gpt {

                      }
                    }
                  }

                  > button {
                    padding: 0;
                    border: 0;
                    background-color: transparent;

                    > span:not(.dashicons) {
                      color: #100717;
                      text-align: center;
                      font-size: 12px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                      text-decoration-line: underline;
                    }

                    > .dashicons {
                      font-size: 11px;
                      margin-bottom: -10px;
                      margin-right: -4px;
                    }
                  }
                }

                > .bottom {
                  display: flex;
                  align-items: center;

                  .idea-date-picker {
                    position: relative;

                    input {
                      border-radius: 5px;
                      border: 1px solid #f1ebf7;
                      background-color: #fff;
                      min-height: 37px;
                      padding: 23px 20px 10px 20px;
                      color: #000;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                      width: 234px;
                      min-height: 50px;

                      &:focus {
                        border-color: #2271b100;
                        box-shadow: 0 0 0 1px #2271b100;
                        outline: 2px solid transparent;
                      }

                    }

                    .picker-call {
                      color: rgba(0, 0, 0, 0);
                      opacity: 1;
                      display: block;
                      background-color: #100717;
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M14.25 14.25H3.75V6H14.25M12 0.75V2.25H6V0.75H4.5V2.25H3.75C2.9175 2.25 2.25 2.9175 2.25 3.75V14.25C2.25 14.6478 2.40804 15.0294 2.68934 15.3107C2.97064 15.592 3.35218 15.75 3.75 15.75H14.25C14.6478 15.75 15.0294 15.592 15.3107 15.3107C15.592 15.0294 15.75 14.6478 15.75 14.25V3.75C15.75 3.35218 15.592 2.97064 15.3107 2.68934C15.0294 2.40804 14.6478 2.25 14.25 2.25H13.5V0.75M12.75 9H9V12.75H12.75V9Z' fill='white'/%3E%3C/svg%3E");
                      width: 36px;
                      height: 36px;
                      border-radius: 3px;
                      position: absolute;
                      right: 8px;
                      top: 7px;
                      background-repeat: no-repeat;
                      background-position: center;
                      cursor: pointer;
                    }
                  }

                  .seoaic-cancel-content-idea-button {
                    color: #fff;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-decoration-line: underline;
                    padding: 0;
                    border: none;
                    margin-right: 30px;
                    background-color: transparent;
                    text-shadow: 0 0 2px black;
                  }

                  .button-primary {
                    width: auto;
                    min-width: 187px;
                    font-size: 16px;
                  }
                }

                ul {
                  &.ui-sortable, &.seoaic-idea-content-section-keyword {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    margin: 0;
                    flex-wrap: wrap;
                    margin: -2.5px;

                    li {
                      padding: 5px 52px 5px 15px;
                      border-radius: 35px;
                      border: 1px solid #F1EBF7;
                      background-color: #FFF;
                      color: #000;
                      font-family: Archivo;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                      margin: 0;
                      margin: 2.5px;

                      button {
                        width: 12px;
                        height: 12px;
                        background-color: transparent;

                        &.seoaic-edit-subtitle {
                          right: 29px;
                          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M8.33474 1.12893C8.73734 0.726289 9.28341 0.500056 9.85282 0.5C10.4222 0.499944 10.9683 0.726069 11.371 1.12863C11.7737 1.53119 11.9999 2.07721 12 2.64658C12.0001 3.21594 11.7739 3.76201 11.3713 4.16465L10.8361 4.7004L7.80015 1.66408L8.33474 1.12893ZM7.16415 2.30062L1.1642 8.29946C0.920481 8.54318 0.749132 8.84971 0.669208 9.18498L0.0122132 11.9459C-0.00557564 12.0207 -0.0039078 12.0988 0.0170578 12.1728C0.0380233 12.2467 0.0775876 12.3141 0.131977 12.3684C0.186367 12.4227 0.253768 12.4622 0.327753 12.4831C0.401738 12.504 0.479839 12.5055 0.554609 12.4877L3.31519 11.8301C3.65069 11.7503 3.95747 11.579 4.20138 11.3352L10.2001 5.33634L7.16415 2.30062Z' fill='%23100717'/%3E%3C/svg%3E");
                        }

                        &.seoaic-remove-subtitle {
                          right: 11px;
                          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M6 0.5C2.68575 0.5 0 3.1865 0 6.5C0 9.8135 2.68575 12.5 6 12.5C9.31425 12.5 12 9.8135 12 6.5C12 3.1865 9.31425 0.5 6 0.5ZM8.78025 8.21975C8.92088 8.36038 8.99989 8.55112 8.99989 8.75C8.99989 8.94888 8.92088 9.13962 8.78025 9.28025C8.63962 9.42088 8.44888 9.49989 8.25 9.49989C8.05112 9.49989 7.86038 9.42088 7.71975 9.28025L6 7.5605L4.28025 9.28025C4.21076 9.35014 4.12814 9.4056 4.03714 9.44345C3.94614 9.48129 3.84856 9.50078 3.75 9.50078C3.65144 9.50078 3.55386 9.48129 3.46286 9.44345C3.37186 9.4056 3.28924 9.35014 3.21975 9.28025C3.15004 9.21066 3.09474 9.12801 3.057 9.03702C3.01927 8.94603 2.99985 8.8485 2.99985 8.75C2.99985 8.6515 3.01927 8.55397 3.057 8.46298C3.09474 8.37199 3.15004 8.28934 3.21975 8.21975L4.9395 6.5L3.21975 4.78025C3.07912 4.63962 3.00011 4.44888 3.00011 4.25C3.00011 4.05112 3.07912 3.86038 3.21975 3.71975C3.36038 3.57912 3.55112 3.50011 3.75 3.50011C3.94888 3.50011 4.13962 3.57912 4.28025 3.71975L6 5.4395L7.71975 3.71975C7.86038 3.57912 8.05112 3.50011 8.25 3.50011C8.44888 3.50011 8.63962 3.57912 8.78025 3.71975C8.92088 3.86038 8.99989 4.05112 8.99989 4.25C8.99989 4.44888 8.92088 4.63962 8.78025 4.78025L7.0605 6.5L8.78025 8.21975Z' fill='%23100717'/%3E%3C/svg%3E");
                        }

                        span {
                          display: none;
                        }
                      }
                    }
                  }
                }

                &:last-child {
                  border-bottom: none;
                  padding-bottom: 0;
                }
              }

              #seoaic-idea-title {
                padding-right: 0;
                color: #100717;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 26px;
              }

              .seoaic-generate-skeleton-button {
                background: linear-gradient(235deg, #5D78F7 0%, #A551F6 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border: none;
                padding: 0;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration-line: underline;
              }
            }
          }
        }
      }
    }

    &.seoaic-loading-success {
      .right-side {
        border-left: 1px solid rgba(0, 0, 0, .1);
      }
    }
  }
}

#seoaic-alert-modal {
  .alert-added-ideas {
    display: grid;
    grid-template-columns: repeat(20, 1fr);

    .num-col {
      grid-column: 1/3;
      grid-row: 1/2;
      margin: auto 0;
    }

    .title-col {
      grid-column: 3/19;
      grid-row: 1/2;
    }

    .btn1-col {
      grid-column: 19/20;
      grid-row: 1/2;
      text-align: center;
    }
    .btn2-col {
      grid-column: 20/21;
      grid-row: 1/2;
      text-align: right;
    }

    .idea-updated-title {
      display: none;
      height: 50px;
      border-radius: 5px;
      border: 1px solid #f1ebf7;
      background: #fff;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;

      &.active {
        display: block;

        & + .idea-orig-title {
          display: none;
        }
      }
    }

    .edit,
    .save,
    .delete {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 17px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      &.in-progress {
        background-image: none;
        display: inline-block;

        &:after {
          content: " ";
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 3px solid #7e7e7e;
          border-color: #7e7e7e transparent #7e7e7e transparent;
          animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .edit {
      display: inline-block;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' fill='none'%3E%3Cpath d='M11.124 2.052A2.41 2.41 0 0114.53 5.46l-.6.601-3.407-3.407.6-.6zM9.81 3.367L3.077 10.1a2.092 2.092 0 00-.555.994l-.738 3.099a.505.505 0 00.61.608l3.097-.738c.376-.09.72-.282.994-.556l6.732-6.732L9.81 3.367z' fill='%23587CF6'/%3E%3C/svg%3E");
    }

    .save {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' fill='none'%3E%3Cpath d='M1 1.917l3.972 3.972L10.028.833' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M1 1.917L4.972 5.89 10.028.834' stroke='%2383B892' stroke-width='2'/%3E%3C/svg%3E");
      opacity: 0;
      visibility: hidden;
      display: none;

      &.active {
        opacity: 1;
        visibility: visible;
        display: inline-block;

        & + .edit {
          display: none;
        }
      }
    }

    .delete {
      display: inline-block;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' fill='none'%3E%3Cpath d='M6 .5a6 6 0 100 12 6 6 0 000-12zm2.78 7.72a.75.75 0 11-1.06 1.06L6 7.56 4.28 9.28A.748.748 0 013 8.75a.75.75 0 01.22-.53L4.94 6.5 3.22 4.78a.75.75 0 111.06-1.06L6 5.44l1.72-1.72a.75.75 0 111.06 1.06L7.06 6.5l1.72 1.72z' fill='%23CB3C3C'/%3E%3C/svg%3E");
    }
  }
}

#seoaic-post-mass-creation-modal {
  .prompt-templates-section {
    left: 100%;
    top: 0;
    width: 340px;
    padding-left: 2px;

    .label {
      background-color: #5d78f7;
      color: white;
      padding: 18px;

      &::after {
        content: '';
        position: absolute;
        border-color: #5d78f7;
        border-right: 20px solid transparent;
        border-top: 27px solid #5d78f7;
        border-bottom: 26px solid #5d78f7;
        margin-bottom: 10px;
        height: 100%;
        width: 30px;
        display: block;
        right: -25px;
        top: 0;
      }
    }

    .templates {
      flex-direction: column;
    }

    .template-wrapper {
      background: #b2adb8;
      padding: 1px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      transition: all 0.25s linear;

      &:hover {
        background: linear-gradient(to right, #A551F6, #5D78F7);
      }
    }

    .template {
      background-color: #eaeef9;
      color: #100717;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 0 45px 0 0;
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.3s ease-out;
      overflow: hidden;

      &:hover {
        grid-template-rows: 1fr;
        transition: grid-template-rows 0.3s ease-out;

        .template-text {
          text-overflow: unset;
          white-space: unset;
        }
      }

      &.editing,
      &.deleting {
        padding: 0;
        min-height: 100px;
      }

      .prompt-editor-wrapper {
        display: none;
      }

      .prompt-template-editor {
        min-height: 50px;
        padding: 15px 15px 0 20px;
        margin: 0 0 5px;
        background-color: unset;
        border: unset;
        resize: unset;
        width: 100%;
        box-shadow: unset;
      }

      .prompt-editor-buttons {
        padding: 0 20px 6px 20px;
        gap: 5px;
      }

      .seoaic-editor-save,
        .seoaic-editor-cancel,
        .seoaic-prompt-confirm-delete-yes,
        .seoaic-prompt-confirm-delete-no {
          width: 21px;
          height: 25px;
          padding: 5px 2px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: auto;
          cursor: pointer;
        }

        .seoaic-editor-save,
        .seoaic-prompt-confirm-delete-yes {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' fill='none'%3E%3Cpath d='M1 1.916L4.972 5.89 10.028.833' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M1 1.917l3.972 3.972L10.028.833' stroke='%2383B892' stroke-width='2'/%3E%3C/svg%3E");
        }

        .seoaic-editor-cancel,
        .seoaic-prompt-confirm-delete-no {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' fill='none'%3E%3Cpath d='M1 1l7 7m0-7L1 8' stroke='%23CB3C3C' stroke-width='2'/%3E%3C/svg%3E");
        }

      .delete-confirm-section {
        display: none;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .3);

        .prompt-deletion {
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }

        .prompt-deletion-title {
          background-color: #100717;
          color: white;
          font-size: 16px;
          font-weight: bold;
          padding: 10px 30px;
        }

        .prompt-deletion-body {
          background: #fefefe;
          padding: 10px 30px;
          justify-content: space-between;
        }
      }

      .template-text {
        cursor: pointer;
        padding: 15px 0 15px 20px;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 20px;
        min-height: 50px;
      }

      .buttons {
        right: 6px;
        top: 11px;
      }

      .seoaic-edit-prompt-template {
        background-color: #ecf0fc;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath d='M11.918 2.286a2.684 2.684 0 113.796 3.795l-.669.67-3.795-3.796.668-.669zm-1.463 1.465l-7.5 7.499a2.33 2.33 0 00-.619 1.107l-.821 3.452a.563.563 0 00.678.677l3.45-.822c.42-.1.804-.314 1.109-.619l7.498-7.5-3.795-3.794z' fill='%23100717'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 15px;
        border: 0;
      }

      .seoaic-delete-prompt-template {
        background-color: #ecf0fc;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' fill='none'%3E%3Cpath d='M6 .5a6 6 0 100 12 6 6 0 000-12zm2.78 7.72a.75.75 0 11-1.06 1.06L6 7.56 4.28 9.28A.748.748 0 013 8.75a.75.75 0 01.22-.53L4.94 6.5 3.22 4.78a.75.75 0 111.06-1.06L6 5.44l1.72-1.72a.75.75 0 111.06 1.06L7.06 6.5l1.72 1.72z' fill='%23100717'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 15px;
        border: 0;
      }
    }
  }

  #seoaic-idea-content-category {
    .checkbox-wrapper-mc-group {
      color: #100717;
      margin-bottom: 5px;
      font-size: 16px;
    }

    .checkbox-wrapper-mc {
      label.check {
        span {
          font-weight: 400;
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 5px;
        }
      }
    }
  }
}