.knowledge-bases {
  padding: 41px 30px 50px 30px !important;

  #knowledge_base h3 {
    text-align: center;
    margin-top: 30px;
  }

  .seoaic-create-kb-button {
    width: auto !important;
    font-size: 16px !important;
    padding: 20px 40px !important;
  }

  > .inner {

    > .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .generate-keywords {
        margin-right: 20px;
      }

    }
  }

  .status {
    span {
      padding: 7px 13px;
      border-radius: 39px;
      border-width: 1px;
      border-style: solid;
      font-size: 14px;
      font-weight: 500;

      &.trained {
        border-color: #587CF7;
        color: #587CF7;
        background-color: rgba(238, 242, 254, 1);
      }

      &.scanning {
        border-color: #AA4FF6;
        color: #AA4FF6;
        background-color: #F6EDFE;
      }

      &.scanned {
        border-color: #FF8A48;
        color: #FF8A48;
        background-color: rgba(255, 138, 72, .1);
      }

      &.training {
        border-color: #FF8A48;
        color: #FF8A48;
        background-color: rgba(255, 138, 72, .1);
      }
      &.failed {
        border-color: #EB6A90;
        color: #EB6A90;
        background-color: rgba(235, 106, 144, .1);
        cursor: help;
      }
      &.created {
        border-color: #57BE95;
        color: #57BE95;
        background-color: rgba(87, 190, 149, .1);
      }
    }
  }

  .filter-clear-btn {
    min-width: 30px;
    min-height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Crect width='30' height='30' rx='3' fill='%23100717'/%3E%3Cpath d='M8 8L22 22M22 8L8 22' stroke='%23fff'/%3E%3C/svg%3E");
  }

  .bottom {
    margin-top: 40px;

    .flex-table {
      .row-line {
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #F1EBF7;
        padding: 6px 0;

        &:not(.heading) {
          background-color: #FFF;

          > div {
            padding-top: 18px;
            padding-bottom: 18px;
          }
        }

        .name {
          padding: 0 30px;
          min-width: 18%;
          max-width: 18%;
          word-wrap: break-word;
          word-break: break-all;
        }

        .description {
          padding: 0 65px;
          font-size: 16px;
          min-width: 40%;
        }

        .status {
          padding: 0 45px;
          min-width: 15%;
          text-align: center;
        }

        .tokens {
          padding: 0 45px;
          font-size: 16px;
          min-width: 15%;
          text-align: center;
        }

        .actions {
          padding: 0 30px 0 50px;
          min-width: 15%;
          text-align: center;

          .seoaic-train_data_source {
            font-size: 12px;
            background: none;
            outline: none;
            border: 1px solid #100717;
            border-radius: 2.25px;
            margin-right: 5px;
            cursor: pointer;
          }
        }

        > div {
          position: relative;
          color: #100717;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;


          &:not(:last-child) {
            border-right: 1px solid #F2EBF7;
          }
        }

        &.heading {
          border: 0;

          > div {
            font-size: 14px;
            font-weight: 700;
            border: 0 !important;
            cursor: pointer;
          }

          + .row-line {
            margin-top: 7px;
          }
        }

        + .row-line {
          margin-top: 10px;
        }
      }
    }
  }

  .knowledge-base-content {
    color: #100717;

    .action-knowledge-base {
      display: flex;
      margin-left: 15px;

      &.hide {
        display: none;
      }

      &.show {
        display: flex;
      }

      button {
        width: max-content!important;
        padding: 18px 60px!important;
      }

      .seoaic-rescan-kb-button {
        margin-left: 15px;
      }
    }

    .knowledge-base-item {
      border-radius: 5px;
      border: 1px solid #F1EBF7;
      background: #FFF;
      margin-bottom: 15px;

      &.hide {
        display: none;
      }

      &.show {
        display: block;
      }

      .knowledge-base-head {
        padding: 35px 40px 25px;
        border-bottom: 1px solid #F2EBF7;

        h3 {
          font-size: 22px;
          margin: 0 0 8px 0;
          text-align: left;

          span {
            margin-right: 15px;
          }
        }

        p {
          font-size: 14px;
          font-weight: 400;
          margin: 0;
        }
      }

      .knowledge-base-body {
        padding: 25px 40px;

        .form-item {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          label {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
          }

          input, textarea {
            flex: unset !important;
            border-radius: 5px;
            border: 1px solid #F1EBF7;
            background: #FFF;
            padding: 16px 30px;
            resize: none;
            line-height: normal;
          }
        }

        .form-item-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .checkbox-wrapper-mc {
            .check {
              width: 100%;
              margin-right: 20px;
              font-size: 14px;
              font-weight: 400;

              span {
                position: relative;
                top: -4px;
                margin-left: 15px;
              }
            }
          }

          .knowledge-base-rescan-days {
            span {
              margin-right: 5px;
            }
            input {
              width: 70px;
              text-align: center;
              margin-right: 5px;
            }
          }

          .button-primary {
            max-width: 300px;
          }
        }

        .data-sources-item {
          position: relative;
          border-radius: 5px;
          border: 1px solid #F2EBF7;

          .actions {
            position: absolute;
            top: 10px;
            right: 10px;

            .seoaic-rescan, 
            .seoaic-train {
              display: none;
            }
          }

          &:not(:last-of-type) {
            margin-bottom: 30px;
          }

          .data-sources-head {
            background: linear-gradient(0deg, rgba(71, 72, 231, 0.05) 0%, rgba(71, 72, 231, 0.05) 100%), #FFF;
            padding: 32px 30px 12px;

            ul {
              display: flex;
              margin-bottom: 25px;
              font-size: 14px;
              font-weight: 500;
              width: max-content;

              li {
                position: relative;
                padding: 0 20px 10px;
                margin: 0;
                cursor: pointer;
                text-transform: capitalize;


                &::before {
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 1px;
                  bottom: 0;
                  left: 0;
                  background: #100717;
                }

                &.active {
                  font-weight: 700;

                  &::before {
                    position: absolute;
                    content: '';
                    z-index: 1;
                    width: 100%;
                    height: 4px;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(271deg, #5D78F7 0.62%, #A551F6 93.05%);
                  }
                }
              }
            }

            .data-sources-content-wrap {
              display: none;
            }

            .active {
              display: block;
            }

            .data-sources-content {
              display: flex;

              .form-item {
                width: 100%;

                .invalid-val {
                  color: red;
                  font-size: 14px;
                  margin-top: 10px;
                }

                label {
                  font-size: 14px;
                  font-weight: 700;

                  span {
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    margin-left: 15px;

                    a {
                      color: #100717;
                      text-decoration-line: underline;
                    }
                  }
                }

                textarea, input {
                  width: 100%;
                  background-color: transparent;
                }
              }

              .form-item-pages {
                width: 190px;
                margin-left: 20px;
              }
            }
          }
  
          .scanning-rules {
            background-color: #EBEBFA;
            padding: 12px 30px;

            a {
              color: #000;
              font-size: 14px;
              font-weight: 500;
              text-decoration-line: underline;
            }
          }
        }

        .data-source-scan {
          display: flex;
          
          a {
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
            text-decoration: none;
          }

          .scan_sources {
            color: #fff;
            background: linear-gradient(270deg, #5D78F7 0.14%, #A551F6 78.28%);
            padding: 20px 60px;
          }

          .add_sources {
            color: #100717;
            border: 2px solid #100717;
            margin-left: 15px;
            padding: 18px 60px;
          }
        }
      }
    }

    .knowledge-base-data-source {
      .knowledge-base-body {
        .form-item {
          .data-sources-domain-wrap {
            display: flex;
            border-radius: 5px;
            border: 1px solid #100717;
            overflow: hidden;

            span {
              min-width: 55px;
              max-width: 55px;
              width: 100%;
              border-right: 1px solid #100717;
              background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewBox='0 0 20 10' fill='none'%3E%3Cpath d='M15 0H12C11.45 0 11 0.45 11 1C11 1.55 11.45 2 12 2H15C16.65 2 18 3.35 18 5C18 6.65 16.65 8 15 8H12C11.45 8 11 8.45 11 9C11 9.55 11.45 10 12 10H15C17.76 10 20 7.76 20 5C20 2.24 17.76 0 15 0ZM6 5C6 5.55 6.45 6 7 6H13C13.55 6 14 5.55 14 5C14 4.45 13.55 4 13 4H7C6.45 4 6 4.45 6 5ZM8 8H5C3.35 8 2 6.65 2 5C2 3.35 3.35 2 5 2H8C8.55 2 9 1.55 9 1C9 0.45 8.55 0 8 0H5C2.24 0 0 2.24 0 5C0 7.76 2.24 10 5 10H8C8.55 10 9 9.55 9 9C9 8.45 8.55 8 8 8Z' fill='%23100717'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-position: center;
              background-color: #E4E4F5;
            }
          }

          > input {
            border-radius: 5px;
            border: 1px solid #100717;
            overflow: hidden;
          }

          input[type=url]:focus {
            box-shadow: none;
          }
        }
      }
    }

    .scanning_rules-content {
      display: none;
      padding: 30px 0 28px;

      .scanning_rules-content-wrap {
        display: flex;

        .scanning_rules-content-item {
          width: 50%;

          &:first-of-type {
            margin-right: 75px;
          }

          h4 {
            font-size: 14px;
            font-weight: 700;

            span {
              font-size: 10px;
              font-weight: 400;
            }
          }

          .form-item {
            flex-direction: row;

            input {
              background: transparent;
              margin-right: 10px;
            }

            button {
              position: relative;
              min-width: 50px;
              max-width: 50px;
              width: 100%;
              height: 50px;
              background-color: transparent;
              border-radius: 5px;
              border: 1px solid #100717;
              cursor: pointer;

              &:before, &:after {
                position: absolute;
                content: '';
                transform: translate(-50%, -50%);
                transform-origin: center center;
              }
            }

            .add-rules {
              margin-right: 5px;

              &:before, &:after {
                background-color: #000;
              }

              &:before {
                width: 2px;
                height: 20px;
                top: 50%;
                left: 50%;
              }

              &:after {
                width: 20px;
                height: 2px;
                top: 50%;
                left: 50%;
              }
            }

            .remove-rules {

              span {
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &:before, &:after {
                  position: absolute;
                  content: '';
                  background-color: red;
                }
  
                &:before {
                  width: 2px;
                  height: 20px;
                  transform: rotate(45deg)
                }
  
                &:after {
                  width: 2px;
                  height: 20px;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }

    .bottom {
      .heading {
        padding: 13px 0;
      }

      .flex-table {
        .row-line {
          &.failed {
            border-color: #EB6A90;
            background-color: rgba(235, 106, 144, .1);
          }

          > div {
            font-size: 16px;
          }

          .name {
            min-width: 25%;
          }
    
          .status {
            min-width: 20%;
          }
    
          .description {
            min-width: 25%;
            text-align: center;
          }

          .tokens {
            min-width: 12%;
            text-align: center;
          }

          .actions {
            display: flex;
            justify-content: center;
            min-width: 18%;
            text-align: center;

            .seoaic-rescan {
              position: relative;
              background: #ECF0FC;
              border: none;
              border-radius: 2.25px;
              color: #587CF6;
              font-size: 12px;
              padding: 6px 10px 6px 30px;
              margin-right: 5px;
              cursor: pointer;

              &:before {
                position: absolute;
                content: '';
                top: 6px;
                left: 10px;
                width: 16px;
                height: 16px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,<?xml version='1.0' encoding='UTF-8'?><svg xmlns='http://www.w3.org/2000/svg' width='17' height='13' viewBox='0 0 17 13' fill='none'><path d='M5.68596 5.12412L2.84389 7.96801L0 5.12412L0.773452 4.35066L2.13611 5.71333C2.16348 4.9946 2.32035 4.29776 2.59945 3.63559C2.89862 2.92781 3.32912 2.29117 3.87455 1.74391C4.42181 1.19666 5.05845 0.767979 5.76623 0.468814C6.49955 0.158703 7.28029 0 8.08293 0C8.5408 0 8.99685 0.0529012 9.4383 0.155055C10.4343 0.386726 11.3592 0.87743 12.1144 1.57427L11.3719 2.37873C10.7554 1.80958 10.0001 1.41009 9.18838 1.22038C8.8272 1.13646 8.45506 1.09268 8.08111 1.09268C5.40321 1.09268 3.22332 3.27258 3.22332 5.95047C3.22332 5.97783 3.22332 6.00702 3.22515 6.03438L4.91069 4.34884L5.68596 5.12412Z' fill='%23587CF6'/><path d='M16.166 6.87111L15.3926 7.64456L14.0354 6.28737C14.0281 7.07177 13.8712 7.83062 13.5684 8.54935C13.2692 9.25713 12.8387 9.89377 12.2933 10.441C11.7461 10.9883 11.1094 11.417 10.4016 11.7161C9.6665 12.0262 8.88757 12.1849 8.08493 12.1849C7.5614 12.1849 7.04333 12.1174 6.5435 11.9825C5.56574 11.7216 4.66278 11.2072 3.93311 10.4976L4.69744 9.71318C5.29212 10.2933 6.02909 10.7128 6.82625 10.9244C7.23487 11.0339 7.65808 11.0886 8.08493 11.0886C10.7628 11.0886 12.9427 8.91054 12.9427 6.23082C12.9427 6.14144 12.9409 6.05388 12.9354 5.96449L11.2572 7.64274L10.4837 6.86928L13.3258 4.02539L16.166 6.87111Z' fill='%23587CF6'/></svg>");
              }
            }
          }
        }
      }
    }
  }


  .data-item-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .status-wrap {
      display: flex;
      width: 100%;
      margin-top: 30px;

      .status {
        > span {
          margin-right: 15px;
          cursor: pointer;
        }
      }
    }

    .mass-actions {
      display: flex;
      align-items: center;

      #data-source-item-remove {
        border-radius: 2.25px;
        background: #FCEFF9;
        padding: 6px 9px 6px 22px;
        color: #CB3C3C;
        font-size: 14px;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 4px 4px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='none'%3E%3Cg clip-path='url(%23clip0_164_924)'%3E%3Cpath d='M15.833 3.958a.791.791 0 110 1.584h-.791l-.003.056-.738 10.348a1.583 1.583 0 01-1.58 1.47H6.278a1.583 1.583 0 01-1.58-1.47L3.96 5.599a.809.809 0 01-.002-.057h-.791a.792.792 0 110-1.584h12.666zm-4.75-2.375a.791.791 0 110 1.584H7.917a.792.792 0 110-1.584h3.166z' fill='%23CB3C3C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_164_924'%3E%3Cpath fill='%23fff' d='M0 0h19v19H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }

    .select-all-data-items {
      display: flex;
      align-items: center;
      color: #100717;
      font-size: 14px;
      font-weight: 400;
      margin-right: 40px;

      .checkbox-wrapper-mc {
        margin-right: 15px;
      }
    }

    .search-wrap {
      display: flex;
    }

    .search {
      display: flex;
      align-items: center;
      position: relative;
      width: 260px;
  
      > input {
        margin-top: -4px;
        padding-bottom: 7px;
        width: auto;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .11);
        border-radius: 0;
        background-color: transparent;
        height: 40px;
        min-height: 40px;
        color: #100717;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        min-width: 258px;
  
        &:focus {
          border-color: #2271b100;
          box-shadow: 0 0 0 1px #2271b100;
          outline: 2px solid transparent;
          border-bottom: 1px solid rgba(0, 0, 0, .11);
        }
  
        &::placeholder { /* Most modern browsers support this now. */
          color: #100717;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.5;
        }
      }
  
      > button {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Crect width='30' height='30' rx='3' fill='%23100717'/%3E%3Ccircle cx='14.2941' cy='14.2941' r='4.79412' stroke='white'/%3E%3Cpath d='M17.4706 18.1763L20.2941 20.9998' stroke='white'/%3E%3C/svg%3E");
        padding: 0;
        border: 0;
        right: -2px;
        cursor: pointer;
        margin-top: -10px;
      }
    }
  }

  .knowledge-base-data-source-item {
    .row-line:not(.heading) {
      .name {
        display: flex;
        align-items: center;

        .checkbox-wrapper-mc {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .data-source-scan {
    flex-wrap: wrap;

    .action-knowledge-base {
      width: 100%;
      margin-top: 15px;
      margin-left: 0px!important;
    }
  }

  #knowledge_base {
    .flex-table {
      margin-bottom: 15px;
      
      .description {
        min-width: 35%;
      }
    }
  }

  .knowledge-bases {
    .bottom {
      overflow-x: scroll;
      margin-top: 0;
      
      &::-webkit-scrollbar {
        background: transparent;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: #100717;
      }

      .flex-table {
        width: 1200px;

        .heading {
          margin-bottom: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #create-knowledge-bases .seoaic-popup {
    width: 1200px;
  }
}