.settings-page {
  #seoaic-admin-body {
    padding: 45px 60px 60px 60px;

    #seoaic-settings {
      &.row {
        --row-x: 83px;
        display: flex !important;

        > .left-side {
          .row {
            .col-12 {
              > label {
                margin-bottom: 9px;
              }

              > input {
                padding: 10px 27px;

                &#seoaic_company_website {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewBox='0 0 20 10' fill='none'%3E%3Cpath d='M15 0H12C11.45 0 11 0.45 11 1C11 1.55 11.45 2 12 2H15C16.65 2 18 3.35 18 5C18 6.65 16.65 8 15 8H12C11.45 8 11 8.45 11 9C11 9.55 11.45 10 12 10H15C17.76 10 20 7.76 20 5C20 2.24 17.76 0 15 0ZM6 5C6 5.55 6.45 6 7 6H13C13.55 6 14 5.55 14 5C14 4.45 13.55 4 13 4H7C6.45 4 6 4.45 6 5ZM8 8H5C3.35 8 2 6.65 2 5C2 3.35 3.35 2 5 2H8C8.55 2 9 1.55 9 1C9 0.45 8.55 0 8 0H5C2.24 0 0 2.24 0 5C0 7.76 2.24 10 5 10H8C8.55 10 9 9.55 9 9C9 8.45 8.55 8 8 8Z' fill='%23100717'/%3E%3C/svg%3E");
                  background-size: 20px 10px;
                  background-repeat: no-repeat;
                  background-position: left 10px center;
                  padding-left: 40px;
                  margin-bottom: 15px;

                  + .validation-message {
                    position: absolute;
                    margin-top: -15px;
                    font-size: 12px;
                    color: red;
                    margin-left: 46px;
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                  }

                  &:invalid {
                    border-color: red;

                    + .validation-message {
                      display: inline-block;
                      opacity: 1;
                      visibility: visible;
                    }

                  }
                }
              }

              > textarea {
                min-height: 148px;
                margin-bottom: 20px;
              }

              > select {
                padding: 10px 27px;
              }
            }
          }
        }

        > .right-side {
          margin-top: 20px;

          .terms-select {
            &::-webkit-scrollbar {
              background: transparent;
              width: 5px;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 30px;
              background: #100717;
            }
          }

          > .seoaic_schedule_keywords {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;

            > .title-key {
              padding: 22px 31px;
              width: 100%;
              border-radius: 5px;
              border: 1px solid #F1EBF7;
              background-color: #FFF;

              >* {
                margin: 0;
              }

              > h3 {
                color: #100717;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 8px;
              }

              > p {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }

            }

            > .arrow-key {
              display: flex;
              align-self: normal;
              border-radius: 5px;
              overflow: hidden;
              margin-left: 7px;

              > div {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 67px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='67' height='97' viewBox='0 0 67 97' fill='none'%3E%3Crect width='67' height='96.2665' rx='5' fill='%23100717'/%3E%3Cpath d='M29.6748 40.6332L37.3248 48.1332L29.6748 55.6332' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
              }

            }

          }

          table {
            border-collapse: collapse;
            min-width: 600px;
            width: 100%;

            > :not(caption) > * > * {
              border-width: 1px;
              border-style: solid;
              border-color: #F1EBF7;
            }

            tbody {
              tr:not(.seoaic_pillar_item) {
                th, td {
                  padding: 11.5px 7px;
                  text-align: center;

                  .seoaic_schedule_days_label {
                    min-width: 90px;
                    margin: 0;
                  }

                  .time-select {
                    visibility: hidden;
                    min-width: 92px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .form-input-time {
                      cursor: pointer;
                      //min-width: 138px;
                      text-align: center;
                      border: 0 !important;
                      text-transform: lowercase;
                      text-decoration: underline;
                      width: auto;
                      padding: 0;
                      max-width: 70px;
                      font-size: 16px;

                      &:focus {
                        border-color: #2271b100;
                        box-shadow: 0 0 0 1px #2271b100;
                        outline: 2px solid transparent;
                      }
                    }

                    .edit, .done {
                      display: inline-block;
                      width: 10px;
                      height: 10px;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: contain;
                      cursor: pointer;
                    }

                    .edit {
                      width: 17px;
                      height: 17px;
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M11.1237 2.05212C11.5755 1.60025 12.1883 1.34635 12.8273 1.34629C13.4663 1.34623 14.0791 1.6 14.531 2.05178C14.9828 2.50356 15.2367 3.11634 15.2368 3.75532C15.2368 4.39429 14.9831 5.00712 14.5313 5.45899L13.9307 6.06024L10.5238 2.6527L11.1237 2.05212ZM9.81014 3.36706L3.07718 10.0993C2.80369 10.3729 2.6114 10.7169 2.52172 11.0931L1.78446 14.1916C1.7645 14.2756 1.76637 14.3632 1.78989 14.4462C1.81342 14.5292 1.85782 14.6048 1.91885 14.6657C1.97989 14.7267 2.05552 14.771 2.13855 14.7945C2.22157 14.8179 2.30921 14.8197 2.39312 14.7996L5.49095 14.0617C5.86745 13.9721 6.2117 13.7798 6.48541 13.5062L13.217 6.77394L9.81014 3.36706Z' fill='%23587CF6'/%3E%3C/svg%3E");
                    }

                    .done {
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M1 1.91659L4.97222 5.88881L10.0278 0.833252' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 1.91705L4.97222 5.88927L10.0278 0.833715' stroke='%2383B892' stroke-width='2'/%3E%3C/svg%3E");
                      opacity: 0;
                      visibility: hidden;
                      display: none;
                      width: 17px;
                      height: 10px;
                      background-size: 10px;

                      &.active {
                        opacity: 1;
                        visibility: visible;
                        display: inline-block;

                        + .edit {
                          display: none;
                        }
                      }
                    }
                  }

                  .num-select {
                    visibility: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {

                    }

                    input {
                      cursor: pointer;
                      text-align: end;
                      border: 0!important;
                      text-transform: lowercase;
                      text-decoration: underline;
                      width: auto;
                      padding: 0;
                      max-width: 70px;
                      font-size: 16px;
                      margin-right: 4px;

                      &:focus {
                        border-color: #2271b100;
                        box-shadow: 0 0 0 1px #2271b100;
                        outline: 2px solid transparent;
                      }
                    }

                    input[type='number'] {
                      -moz-appearance:textfield;
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                    }

                    .spin {
                      display: none;
                    }

                    .edit {
                      display: inline-block;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: contain;
                      cursor: pointer;
                      width: 17px;
                      height: 17px;
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M11.1237 2.05212C11.5755 1.60025 12.1883 1.34635 12.8273 1.34629C13.4663 1.34623 14.0791 1.6 14.531 2.05178C14.9828 2.50356 15.2367 3.11634 15.2368 3.75532C15.2368 4.39429 14.9831 5.00712 14.5313 5.45899L13.9307 6.06024L10.5238 2.6527L11.1237 2.05212ZM9.81014 3.36706L3.07718 10.0993C2.80369 10.3729 2.6114 10.7169 2.52172 11.0931L1.78446 14.1916C1.7645 14.2756 1.76637 14.3632 1.78989 14.4462C1.81342 14.5292 1.85782 14.6048 1.91885 14.6657C1.97989 14.7267 2.05552 14.771 2.13855 14.7945C2.22157 14.8179 2.30921 14.8197 2.39312 14.7996L5.49095 14.0617C5.86745 13.9721 6.2117 13.7798 6.48541 13.5062L13.217 6.77394L9.81014 3.36706Z' fill='%23587CF6'/%3E%3C/svg%3E");
                      margin-left: 9px;
                    }

                    .ready {
                      display: inline-block;
                      width: 10px;
                      height: 10px;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: contain;
                      cursor: pointer;
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M1 1.91659L4.97222 5.88881L10.0278 0.833252' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 1.91705L4.97222 5.88927L10.0278 0.833715' stroke='%2383B892' stroke-width='2'/%3E%3C/svg%3E");
                      opacity: 0;
                      visibility: hidden;
                      margin-left: 7px;
                      display: none;

                      &.active {
                        opacity: 1;
                        visibility: visible;

                        ~ .edit {
                          display: none;
                        }
                      }
                    }



                    .bt {
                      position: relative;
                      color: lightgray;
                      background: transparent;
                      border: none;
                      font-size: 2rem;
                      padding: 0;
                      display: block;
                      cursor: pointer;

                      &:hover {
                        color: gray;
                      }

                      &:active {
                        color: darkgray
                      }
                    }

                    .up {
                      width: 9px;
                      height: 6px;
                      background-position: top;
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12' viewBox='0 0 9 12' fill='none'%3E%3Cpath opacity='0.5' d='M4.125 0L0 4.5H8.25L4.125 0Z' fill='%23100717'/%3E%3Cpath opacity='0.5' d='M4.125 12L0 7.5H8.25L4.125 12Z' fill='%23100717'/%3E%3C/svg%3E");
                    }

                    .down {
                      width: 9px;
                      height: 6px;
                      background-position: bottom;
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12' viewBox='0 0 9 12' fill='none'%3E%3Cpath opacity='0.5' d='M4.125 0L0 4.5H8.25L4.125 0Z' fill='%23100717'/%3E%3Cpath opacity='0.5' d='M4.125 12L0 7.5H8.25L4.125 12Z' fill='%23100717'/%3E%3C/svg%3E");
                    }

                    .label {
                      color: #000;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                    }

                    &.active {
                      .ready, .spin {
                        display: inline-block;
                      }

                      .label {
                        display: none;
                      }
                    }
                  }

                  &:hover {
                    background-color: inherit;
                  }
                }

                label {
                  color: #000;
                  text-align: center;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }

                &:nth-child(odd) {
                  background-color: #fff;
                }

                input[type=checkbox] {
                  &::before {
                    content: "";
                    border-radius: 2.394px;
                    border: 1.197px solid #F1EBF7;
                    background: #EAEEF9;
                    width: 18px;
                    height: 18px;
                    flex-shrink: 0;
                    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='17' viewBox='0 0 19 17' fill='none'%3E%3Crect x='0.856053' y='0.750279' width='15.5606' height='15.5606' rx='1.79545' fill='%23EAEEF9' stroke='%23F1EBF7' stroke-width='1.19697'/%3E%3Cpath d='M5.04541 5.80153C5.46546 6.60345 6.01821 7.3338 6.46903 8.11926C7.25356 9.48612 8.01479 10.8632 8.91263 12.1601C8.93321 12.1898 9.07931 12.3721 9.10794 12.3077C9.31062 11.8516 9.53946 11.4257 9.80239 10.9969C10.752 9.44832 11.7463 7.90462 12.8493 6.46126C14.2244 4.66185 15.7768 3.01057 17.3111 1.34837' stroke='url(%23paint0_linear_62_459)' stroke-width='2.39394' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_62_459' x1='17.3111' y1='5.22116' x2='5.8651' y2='5.09787' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D78F7'/%3E%3Cstop offset='1' stop-color='%23A551F6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                    margin: -2px 0 0 -3px;
                    display: block;
                  }

                  &:checked {
                    &::before {
                      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='17' viewBox='0 0 19 17' fill='none'%3E%3Crect x='0.856053' y='0.750279' width='15.5606' height='15.5606' rx='1.79545' fill='%23EAEEF9' stroke='%23F1EBF7' stroke-width='1.19697'/%3E%3Cpath d='M5.04541 5.80153C5.46546 6.60345 6.01821 7.3338 6.46903 8.11926C7.25356 9.48612 8.01479 10.8632 8.91263 12.1601C8.93321 12.1898 9.07931 12.3721 9.10794 12.3077C9.31062 11.8516 9.53946 11.4257 9.80239 10.9969C10.752 9.44832 11.7463 7.90462 12.8493 6.46126C14.2244 4.66185 15.7768 3.01057 17.3111 1.34837' stroke='url(%23paint0_linear_62_459)' stroke-width='2.39394' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_62_459' x1='17.3111' y1='5.22116' x2='5.8651' y2='5.09787' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D78F7'/%3E%3Cstop offset='1' stop-color='%23A551F6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                      margin: -2px 0 0 -3px;
                      display: block;
                    }
                  }

                  border-color: #2271b100;
                  box-shadow: 0 0 0 1px #2271b100;
                  outline: 2px solid transparent;

                  &:focus {
                    border-color: #2271b100;
                    box-shadow: 0 0 0 1px #2271b100;
                    outline: 2px solid transparent;
                  }
                }
              }
            }
          }

          .seoaic_schedule_settings {
            border-radius: 5px;
            border: 1px solid #F1EBF7;
            background: #FFF;
            overflow-x: scroll;

            &::-webkit-scrollbar {
              background: transparent;
              width: 5px;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 30px;
              background: #100717;
            }

            > h2 {
              color: #100717;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin-bottom: 24px;
              margin-top: 26px;
              display: inline-block;
              width: 100%;
            }

            + #seoaic_submit {
              margin-top: 20px;
              color: #FFF;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }

          .seoaic_pillar_settings {
            border-radius: 5px;
            border: 1px solid #f1ebf7;
            background: #fff;
            margin-bottom: 30px;

            .pillar_content {
              display: flex;
              align-items: center;
              padding-right: 15px;
            }

            h2 {
              color: #100717;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin-bottom: 24px;
              margin-top: 26px;
              display: inline-block;
              width: 100%;
            }

            .seoaic_pillar_wrap_table {
              overflow-y: auto;
              max-height: 450px;

              &::-webkit-scrollbar {
                background: transparent;
                width: 5px;
              }

              &::-webkit-scrollbar-thumb {
                border-radius: 30px;
                background: #100717;
              }
            }

            .seoaic_pillar_wrap {
              display: table;
              width: 100%;
              color: #000;
              overflow-y: auto;
              max-height: 300px;

              .seoaic_pillar_link {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                  color: #000;
                  text-decoration: none;
                }
              }

              .seoaic_pillar_header {
                display: table;
                width: 100%;
                border: 1px solid #F2EBF7;
                background: linear-gradient(0deg, rgba(71, 72, 231, 0.05) 0%, rgba(71, 72, 231, 0.05) 100%), #FFF;
                padding: 6px 30px;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                text-align: left;

                th {
                  padding: 6px 15px;
                }
              }

              th, td {
                border: none;
              }

              .seoaic_pillar_item {
                font-size: 14px;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid #F1EBF7;

                td {
                  padding: 10px 15px;
                }

                input, textarea {
                  border: none;
                  border-radius: 0;
                  color: #000;
                  padding: 0;
                  line-height: normal;
                  outline: none;
                  box-shadow: none;
                }

                textarea {
                  resize: none
                }

                .seoaic_pillar_controll {
                  display: flex;
                  justify-content: flex-end;
                }

                .delete-pillar {
                  background-color: #FCEFF9;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_164_924)'%3E%3Cpath d='M15.8333 3.95837C16.0433 3.95837 16.2447 4.04178 16.3931 4.19025C16.5416 4.33871 16.625 4.54008 16.625 4.75004C16.625 4.96 16.5416 5.16137 16.3931 5.30983C16.2447 5.4583 16.0433 5.54171 15.8333 5.54171H15.0417L15.0393 5.59792L14.3007 15.9458C14.2722 16.3453 14.0935 16.7191 13.8004 16.992C13.5074 17.265 13.1218 17.4167 12.7213 17.4167H6.27792C5.87744 17.4167 5.49184 17.265 5.19878 16.992C4.90572 16.7191 4.72698 16.3453 4.69854 15.9458L3.95992 5.59871C3.95872 5.57973 3.95819 5.56072 3.95833 5.54171H3.16667C2.9567 5.54171 2.75534 5.4583 2.60687 5.30983C2.45841 5.16137 2.375 4.96 2.375 4.75004C2.375 4.54008 2.45841 4.33871 2.60687 4.19025C2.75534 4.04178 2.9567 3.95837 3.16667 3.95837H15.8333ZM11.0833 1.58337C11.2933 1.58337 11.4947 1.66678 11.6431 1.81525C11.7916 1.96371 11.875 2.16508 11.875 2.37504C11.875 2.585 11.7916 2.78637 11.6431 2.93483C11.4947 3.0833 11.2933 3.16671 11.0833 3.16671H7.91667C7.7067 3.16671 7.50534 3.0833 7.35687 2.93483C7.20841 2.78637 7.125 2.585 7.125 2.37504C7.125 2.16508 7.20841 1.96371 7.35687 1.81525C7.50534 1.66678 7.7067 1.58337 7.91667 1.58337H11.0833Z' fill='%23CB3C3C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_164_924'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                  margin-left: 5px;
                }

                .seoaic-edit-pillar {
                  background-color: #ECF0FC;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M11.9183 2.28599C12.4215 1.78264 13.1041 1.49983 13.8159 1.49976C14.5277 1.49969 15.2103 1.78237 15.7136 2.28562C16.217 2.78886 16.4998 3.47146 16.4999 4.18323C16.5 4.895 16.2173 5.57764 15.714 6.08099L15.045 6.75074L11.25 2.95499L11.9183 2.28599ZM10.455 3.75074L2.95502 11.25C2.65037 11.5547 2.43618 11.9379 2.33627 12.357L1.51502 15.8085C1.49279 15.902 1.49487 15.9996 1.52108 16.0921C1.54729 16.1845 1.59674 16.2687 1.66473 16.3366C1.73272 16.4045 1.81697 16.4539 1.90945 16.48C2.00193 16.5061 2.09956 16.5081 2.19302 16.4857L5.64377 15.6637C6.06316 15.564 6.44664 15.3498 6.75152 15.045L14.25 7.54574L10.455 3.75074Z' fill='%23587CF6'/%3E%3C/svg%3E");
                }

                .seoaic-save-pillar {
                  background-color: #ECF0FC;
                  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' fill='none'%3E%3Cpath d='M1 1.916L4.972 5.89 10.028.833' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M1 1.917l3.972 3.972L10.028.833' stroke='%2383B892' stroke-width='2'/%3E%3C/svg%3E");
                }

                button {
                  width: 26px;
                  height: 26px;
                  min-width: 26px;
                  border-radius: 3px;
                  background-repeat: no-repeat;
                  background-position: 50%;
                  background-size: 20px;
                  border: 0;
                }
              }

              td.seoaic_pillar-name, th.seoaic_pillar-name {
                padding-left: 30px;
                min-width: 130px;
                max-width: 130px;
                width: 130px;
              }

              td.seoaic_pillar-lang, th.seoaic_pillar-lang {
                padding-left: 30px;
                min-width: 200px;
                max-width: 200px;
                width: 200px;
              }

              td.seoaic_pillar-description, th.seoaic_pillar-description {
                min-width: 205px;
                max-width: 205px;
                width: 205px;
              }

              td:last-of-type, th:last-of-type {
                padding-right: 30px;
              }
            }

            .seoaic_pillar_add {
              display: flex;
              padding: 15px 30px 20px;

              a {
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                margin: 0 auto;
              }
            }
          }
        }
      }

      .seoaic-visible-posts-selection {
        padding: 5px 30px 0px 15px;
        min-height: 50px;

        .select2-search--inline .select2-search__field {
          height: 30px;
          line-height: 30px;

        }
      }

      #select2-seoaic_visible_posts-container {
        padding: 0;
        margin: 0;

        .select2-selection {
          padding-left: 15px;
          padding-right: 30px;

          &__choice {
            padding: 5px 25px 5px 15px;
            border-radius: 35px;
            border-width: 0;
            background-color: #EAEEF9;
            margin: 5px;

            button {
              background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath d='M6 0a6 6 0 100 12A6 6 0 006 0zm2.78 7.72a.75.75 0 11-1.06 1.06L6 7.06 4.28 8.78A.748.748 0 013 8.25a.75.75 0 01.22-.53L4.94 6 3.22 4.28a.75.75 0 111.06-1.06L6 4.94l1.72-1.72a.75.75 0 011.06 1.06L7.06 6l1.72 1.72z' fill='%23100717'/%3E%3C/svg%3E");
              top: 50%;
              transform: translateY(-50%);
              right: 12px;
              width: 12px;
              height: 12px;
              border-width: 0;
              left: auto;

              span {
                display: none;
              }
            }
          }

          &__choice__remove {
            height: 100%;
            border-color: #100717;
          }

          &__choice__display {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      .settings-generate-description-btn {
        color: #100717 !important;
      }
    }
  }
}

.seoaic-visible-posts-dropdown {
  margin-top: -5px;
}

.only-timepicker .air-datepicker-nav,
.only-timepicker .air-datepicker--content {
  display: none;
}

.only-timepicker .air-datepicker--time {
  border-top: none;
}