.wizard {
    .headers {
        .wizard-subtitle {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .content {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: flex-start;
    }

    .steps-sidebar {
        flex: 260px 0 0;
        padding: 8px 0 0 0;
        overflow: hidden;

        .step {
            padding: 40px 0;
            display: flex;
            justify-content: space-between;
            padding-right: 54px;

            &.active {
                .step-titles {
                    opacity: 1;
                }

                .step-counter {
                    opacity: 1;

                    .counter {
                        border: 0;
                        background: linear-gradient(to right, #A551F6, #5D78F7);
                        color: #EAEEF9;
                    }
                }

                .step-marker {
                    color: #EAEEF9;
                    position: absolute;
                    border-color: #8663f7 #5d78f7 #8663f7 #a551f6;

                    &::before {
                        background: linear-gradient(90deg,#a551f6,#5d78f7);
                    }
                }

                &::before {
                    border-color: #100717 !important;
                    margin-bottom: 8px;
                }

                &::after {
                    margin-top: 8px;
                }
            }

            &.passed {
                .step-titles {
                    opacity: 1;
                }

                .step-counter {
                    opacity: 1;

                    .counter {
                        border-color: #100717;
                    }
                }

                .step-marker {
                    &::before {
                        background: #100717;
                    }
                }

                &:not(:first-child)::before,
                &:not(:last-child)::after {
                    border-color: #100717 !important;
                }
            }

            &-title,
            &-subtitle {
                color: #100717;
                text-align: right;
            }

            &-title {
                font-size: 18px;
                font-weight: 700;
            }

            &-subtitle {
                font-size: 14px;
                font-weight: 400;
                padding-top: 7px;
            }

            &:not(:first-child)::before,
            &:not(:last-child)::after {
                content: "";
                position: absolute;
                border-left: 1px solid #D4D7E2;
                height: 60%;
                right: 9px;
            }

            &::before {
                bottom: 50%;
            }

            &::after {
                top: 50%;
            }

            .step-marker {
                display: inline-block;
                position: absolute;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                border: 1px solid transparent;
                right: 1px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 5;

                &::before {
                    content: "";
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    left: 2px;
                    top: 2px;
                    background: #d4d7e2;
                }
            }
        }

        .step-titles {
            margin-right: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0.5;
        }

        .step-counter {
            opacity: 0.5;
            display: flex;
            align-items: center;

            .counter {
                color: #100717;
                font-family: Archivo;
                font-size: 20px;
                font-weight: 700;
                display: inline-block;
                width: 60px;
                height: 60px;
                border: 2px solid #D4D7E2;
                border-radius: 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }

    .step-container {
        flex: auto;
        padding: 50px 0 0 80px;

        .step-number {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.5;
        }

        .step-header {
            font-size: 24px;
            font-weight: 700;
            margin-top: 16px;
            color: #100717;
        }

        .step-content {
            .buttons-row {
                display: flex;
                justify-content: space-between;
            }

            .lds-dual-ring {
                opacity: 1;
                position: relative;
                top: 0;
                transform: translate(-50%, 0);
            }

            .keywords-settings,
            .ideas-settings {
                button {
                    // background-color: transparent;
                    // font-size: 14px;
                    // font-weight: 400;
                    // border: 2px solid #100717;
                    // border-radius: 5px;
                    // padding: 5px 15px;
                    // opacity: 0.5;
                    // cursor: pointer;
                    // transition: 0.2s all linear;

                    border-radius: 39px;
                    border: 1px solid #587cf6;
                    background-color: #eef2fe;
                    color: #587cf6;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding: 6px 22px;
                    cursor: pointer;

                    &.active {
                        // background-color: #100717;
                        // color: #fff;
                        // opacity: 1;

                        border: 1px solid rgba(16,7,23,.1);
                        color: #100717;
                        pointer-events: none;
                    }
                }
            }
        }

        &.keywords > .inner > .bottom > .flex-table > .row-line {
            > div.keyword {
                max-width: 50%;
                width: 100%;
                padding-left: 20px;
            }
        }



        .flex-table {
            > .row-line {
                display: flex;
                align-items: center;
                border-radius: 5px;
                border: 1px solid #F1EBF7;
                background-color: #FFF;
                padding: 14px 0;
                //min-height: 80px;

                &[data-parent] {
                    ~ [data-children] {
                        background-color: rgba(255, 255, 255, 0.4);
                        margin-top: 0;
                        border-radius: 0;
                        border: 0;
                        transition: all 0.3s;

                        // hide
                        min-height: 0;
                        max-height: 0;
                        padding: 0;
                        overflow: hidden;

                        &.open {
                            min-height: 80px;
                            max-height: 300px;
                            padding: 6px 0;
                            overflow: inherit;
                        }


                        .seoaic-check-key {
                            &:before {
                            border-color: rgba(0, 0, 0, 0.10) !important;
                            }
                        }

                        > * {
                            &:after {
                                content: none !important;
                            }
                        }

                        &.last {
                            border-radius: 0;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }

                        + [data-children] {
                            position: relative;

                            &:before {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                left: 30px;
                                right: 30px;
                                height: 1px;
                                top: 0;
                                background-color: #F2EBF7;
                            }
                        }
                    }
                }

                &:not(.heading) {
                    min-height: 80px;
                }

                > div {
                    min-width: calc(100% / 6);
                    position: relative;
                    color: #100717;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding: 10px 0;
                    position: relative;

                    &:not(:first-child) {
                        &:not(:last-child) {
                            position: relative;

                            &:after {
                            content: "";
                            width: 1px;
                            background-color: #f2ebf7;
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            height: 65px;
                            transform: translateY(-50%);
                            }

                            //border-right: 1px solid #F2EBF7;
                        }
                    }


                    &.check {
                        //min-width: 67px;
                        text-align: center;
                        padding-left: 10px;
                        min-width: 4%;
                        max-width: 4%;
                        width: 100%;

                        &.invisible {
                            min-width: 2%;
                            max-width: 2%;
                        }

                        input[type=checkbox] {
                            &::before {
                                content: "";
                                border-radius: 2.394px;
                                border: 1.197px solid #F1EBF7;
                                background: #EAEEF9;
                                width: 18px;
                                height: 18px;
                                flex-shrink: 0;
                                //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='17' viewBox='0 0 19 17' fill='none'%3E%3Crect x='0.856053' y='0.750279' width='15.5606' height='15.5606' rx='1.79545' fill='%23EAEEF9' stroke='%23F1EBF7' stroke-width='1.19697'/%3E%3Cpath d='M5.04541 5.80153C5.46546 6.60345 6.01821 7.3338 6.46903 8.11926C7.25356 9.48612 8.01479 10.8632 8.91263 12.1601C8.93321 12.1898 9.07931 12.3721 9.10794 12.3077C9.31062 11.8516 9.53946 11.4257 9.80239 10.9969C10.752 9.44832 11.7463 7.90462 12.8493 6.46126C14.2244 4.66185 15.7768 3.01057 17.3111 1.34837' stroke='url(%23paint0_linear_62_459)' stroke-width='2.39394' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_62_459' x1='17.3111' y1='5.22116' x2='5.8651' y2='5.09787' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D78F7'/%3E%3Cstop offset='1' stop-color='%23A551F6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                                margin: -2px 0 0 -3px;
                                display: block;
                            }

                            &:checked {
                                &::before {
                                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='17' viewBox='0 0 19 17' fill='none'%3E%3Crect x='0.856053' y='0.750279' width='15.5606' height='15.5606' rx='1.79545' fill='%23EAEEF9' stroke='%23F1EBF7' stroke-width='1.19697'/%3E%3Cpath d='M5.04541 5.80153C5.46546 6.60345 6.01821 7.3338 6.46903 8.11926C7.25356 9.48612 8.01479 10.8632 8.91263 12.1601C8.93321 12.1898 9.07931 12.3721 9.10794 12.3077C9.31062 11.8516 9.53946 11.4257 9.80239 10.9969C10.752 9.44832 11.7463 7.90462 12.8493 6.46126C14.2244 4.66185 15.7768 3.01057 17.3111 1.34837' stroke='url(%23paint0_linear_62_459)' stroke-width='2.39394' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_62_459' x1='17.3111' y1='5.22116' x2='5.8651' y2='5.09787' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D78F7'/%3E%3Cstop offset='1' stop-color='%23A551F6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                                    margin: -2px 0 0 -3px;
                                    display: block;
                                }
                            }

                            border-color: #2271b100;
                            box-shadow: 0 0 0 1px #2271b100;
                            outline: 2px solid transparent;

                            &:focus {
                                border-color: #2271b100;
                                box-shadow: 0 0 0 1px #2271b100;
                                outline: 2px solid transparent;
                            }
                        }
                    }

                    &.keyword {
                        font-weight: 700;
                        max-width: 22.8%;
                        min-width: 22.8%;
                        width: 100%;
                        padding-right: 3% !important;

                        > span {
                            cursor: pointer;
                        }

                        > a {
                            display: block;
                            font-size: 12px;
                            /* text-decoration: none; */
                            color: black;
                            font-weight: 500;
                            margin-bottom: -10px;
                            line-height: 2;
                        }

                        > button {
                            width: 26px;
                            height: 26px;
                            min-width: 26px;
                            border-radius: 3px;
                            background-repeat: no-repeat;
                            background-position: 50%;
                            background-size: 15px;
                            border: 0;
                            background-color: #FCEFF9;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_164_924)'%3E%3Cpath d='M15.8333 3.95837C16.0433 3.95837 16.2447 4.04178 16.3931 4.19025C16.5416 4.33871 16.625 4.54008 16.625 4.75004C16.625 4.96 16.5416 5.16137 16.3931 5.30983C16.2447 5.4583 16.0433 5.54171 15.8333 5.54171H15.0417L15.0393 5.59792L14.3007 15.9458C14.2722 16.3453 14.0935 16.7191 13.8004 16.992C13.5074 17.265 13.1218 17.4167 12.7213 17.4167H6.27792C5.87744 17.4167 5.49184 17.265 5.19878 16.992C4.90572 16.7191 4.72698 16.3453 4.69854 15.9458L3.95992 5.59871C3.95872 5.57973 3.95819 5.56072 3.95833 5.54171H3.16667C2.9567 5.54171 2.75534 5.4583 2.60687 5.30983C2.45841 5.16137 2.375 4.96 2.375 4.75004C2.375 4.54008 2.45841 4.33871 2.60687 4.19025C2.75534 4.04178 2.9567 3.95837 3.16667 3.95837H15.8333ZM11.0833 1.58337C11.2933 1.58337 11.4947 1.66678 11.6431 1.81525C11.7916 1.96371 11.875 2.16508 11.875 2.37504C11.875 2.585 11.7916 2.78637 11.6431 2.93483C11.4947 3.0833 11.2933 3.16671 11.0833 3.16671H7.91667C7.7067 3.16671 7.50534 3.0833 7.35687 2.93483C7.20841 2.78637 7.125 2.585 7.125 2.37504C7.125 2.16508 7.20841 1.96371 7.35687 1.81525C7.50534 1.66678 7.7067 1.58337 7.91667 1.58337H11.0833Z' fill='%23CB3C3C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_164_924'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                            cursor: pointer;
                            margin-left: 8%;

                            &.collapse-button {
                                background-image: none;
                                background-color: #e3e3e300;
                                position: absolute;
                                opacity: 0;
                                visibility: hidden;
                                pointer-events: none;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 3%;

                                &:before, &:after {
                                    content: '';
                                    width: 14px;
                                    height: 2px;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%);
                                    background-color: #000;
                                    transition: all 0.3s;
                                }

                                &:after {
                                    top: 40%;
                                }

                                &:before {
                                    top: 60%;
                                }

                                &.open {
                                    &:after {
                                    top: auto;
                                    transform: translate(-50%) rotate(-45deg);
                                    }

                                    &:before {
                                    top: auto;
                                    transform: translate(-50%) rotate(45deg);
                                    }
                                }

                            }
                        }
                    }

                    &.search-vol {
                        min-width: 10.3%;
                        max-width: 10.3%;
                        width: 100%;
                        padding: 0 15px !important;
                        font-size: 16px;

                        @media (max-width: 1600px) {
                            padding: 0 9px !important;
                        }
                    }

                    &.difficulty {
                        min-width: 11.3%;
                        max-width: 11.3%;
                        width: 100%;
                        color: #100717;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        &.LOW {
                            color: green;
                        }

                        &.MEDIUM {
                            color: #ffa000;
                        }

                        &.HIGH {
                            color: red;
                        }
                    }

                }

                &.heading {
                    background-color: transparent;
                    border: 0;

                    > div {
                        color: #100717;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        border: 0 !important;
                        padding: 0;
                        cursor: pointer;

                        @media (max-width: 1400px) {
                            font-size: 11px;
                        }

                        @media (max-width: 1251px) {
                            font-size: 8px;
                        }

                        &.check {
                            padding-left: 10px;

                            input {
                                box-shadow: none;

                                &:before {
                                    border: 1px solid #100717;
                                    width: 19px;
                                    height: 19px;
                                }
                            }
                        }
                    }

                    + .row-line {
                        margin-top: 7px;
                    }

                    > * {
                        &:after {
                            content: none !important;
                        }
                    }

                }

                + .row-line {
                    margin-top: 10px;
                }
            }
        }



        .no-keywords {
            font-size: 14px;
            font-weight: 400;
            color: #100717;
        }

        .seoaic-ideas-posts {
            margin-right: -20px;
            padding-right: 20px;

            &::-webkit-scrollbar {
                background: transparent;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 30px;
                background: #100717;
            }

            .post {
                display: flex;
                align-items: center;

                + .post {
                    margin-top: 10px;
                }

                .idea-content {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    background-color: #fff;
                    border-radius: 5px;
                    border: 1px solid #F1EBF7;
                    background: #FFF;
                    padding: 7px 30px 7px 0;
                    min-height: 76px;

                    .num {
                        color: #100717;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        padding: 25px 40px;
                        position: relative;

                        .checkbox-wrapper-mc {
                            label {
                                left: 0 !important;
                                transition: 300ms ease-out left, 300ms ease-out opacity !important;
                                opacity: 1;

                                .checkbox-wrapper-svg {
                                    opacity: 1 !important;
                                }
                            }

                            // hides disabled checkboxes
                            // input[disabled] + label {
                            //     pointer-events: none;
                            //     opacity: 0 !important;
                            // }
                        }
                    }

                    .heading {
                        padding-left: 40px;
                        border-left: 1px solid #F2EBF7;
                        min-height: 70px;
                        display: flex;
                        align-items: center;

                        .title {
                            color: #100717;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            margin-right: 20px;
                        }

                        .seoaic-idea-icons {
                            margin-bottom: 10px;

                            > span {
                                color: #1E1E1E;
                                font-family: Archivo;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: normal;
                                opacity: 0.699999988079071;
                            }
                        }
                    }

                    .button {
                        width: 35px;
                        height: 35px;
                        border-radius: 3px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-size: 20px;
                        border: 0;
                        min-width: 35px;
                        border-radius: 3px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 20px;
                        border: 0;

                        + .button {
                            margin-left: 6px;
                        }

                        &.seoaic-remove-idea-button {
                            background-color: #FCEFF9;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_164_924)'%3E%3Cpath d='M15.8333 3.95837C16.0433 3.95837 16.2447 4.04178 16.3931 4.19025C16.5416 4.33871 16.625 4.54008 16.625 4.75004C16.625 4.96 16.5416 5.16137 16.3931 5.30983C16.2447 5.4583 16.0433 5.54171 15.8333 5.54171H15.0417L15.0393 5.59792L14.3007 15.9458C14.2722 16.3453 14.0935 16.7191 13.8004 16.992C13.5074 17.265 13.1218 17.4167 12.7213 17.4167H6.27792C5.87744 17.4167 5.49184 17.265 5.19878 16.992C4.90572 16.7191 4.72698 16.3453 4.69854 15.9458L3.95992 5.59871C3.95872 5.57973 3.95819 5.56072 3.95833 5.54171H3.16667C2.9567 5.54171 2.75534 5.4583 2.60687 5.30983C2.45841 5.16137 2.375 4.96 2.375 4.75004C2.375 4.54008 2.45841 4.33871 2.60687 4.19025C2.75534 4.04178 2.9567 3.95837 3.16667 3.95837H15.8333ZM11.0833 1.58337C11.2933 1.58337 11.4947 1.66678 11.6431 1.81525C11.7916 1.96371 11.875 2.16508 11.875 2.37504C11.875 2.585 11.7916 2.78637 11.6431 2.93483C11.4947 3.0833 11.2933 3.16671 11.0833 3.16671H7.91667C7.7067 3.16671 7.50534 3.0833 7.35687 2.93483C7.20841 2.78637 7.125 2.585 7.125 2.37504C7.125 2.16508 7.20841 1.96371 7.35687 1.81525C7.50534 1.66678 7.7067 1.58337 7.91667 1.58337H11.0833Z' fill='%23CB3C3C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_164_924'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        }

                        &.seoaic-edit-idea-button {
                            background-color: #ECF0FC;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M11.9183 2.28599C12.4215 1.78264 13.1041 1.49983 13.8159 1.49976C14.5277 1.49969 15.2103 1.78237 15.7136 2.28562C16.217 2.78886 16.4998 3.47146 16.4999 4.18323C16.5 4.895 16.2173 5.57764 15.714 6.08099L15.045 6.75074L11.25 2.95499L11.9183 2.28599ZM10.455 3.75074L2.95502 11.25C2.65037 11.5547 2.43618 11.9379 2.33627 12.357L1.51502 15.8085C1.49279 15.902 1.49487 15.9996 1.52108 16.0921C1.54729 16.1845 1.59674 16.2687 1.66473 16.3366C1.73272 16.4045 1.81697 16.4539 1.90945 16.48C2.00193 16.5061 2.09956 16.5081 2.19302 16.4857L5.64377 15.6637C6.06316 15.564 6.44664 15.3498 6.75152 15.045L14.25 7.54574L10.455 3.75074Z' fill='%23587CF6'/%3E%3C/svg%3E");
                        }
                    }

                    + .idea-btn {
                        margin-left: 6px;
                    }
                }

                .idea-btn {
                    display: flex;
                    align-self: normal;

                    .button {
                        padding: 0 !important;
                        width: auto;
                        min-width: 54px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='19' viewBox='0 0 11 19' fill='none'%3E%3Cpath d='M1 1L9.5 9.5L1 18' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: #100717 !important;
                    }
                }
            }
        }

        .seoaic-posts-table  {
            .seoaic-posts-table__row {
                height: auto;
                min-height: 88px;

                .seoaic-posts-table__row-item {
                    padding: 24px 30px;

                    .seoaic-post-title {
                        font-size: 18px;
                        font-weight: 600;
                        justify-content: left;
                    }
                }
            }
        }

        .tip-wrapper {
            width: 5%;
            right: 0;
        }

        .tip {
            left: -50px;
            top: -65px;
            width: 130px;

            .title {
                color: #100717;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .button-plan-info {
        right: 8px;

        .info-content {
            width: 220px;
        }
    }

    #wizard_restart_button {
        height: 100%;
    }

    .seoaic-flip-box {
        min-height: 80px;

        border-bottom: 1px solid rgba(0,0,0,.1);
        margin-bottom: 21px;

        .seoaic-flip-container {
            width: 500px;
        }

        .schedule-switcher {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 22px;
            gap: 10px;

            button {
                transition: 200ms ease-out all;

                &:hover {
                    color: #FFF;
                    background-color: #587cf6;
                }
            }
        }
    }

    .seoaic-flip-box-flipped .seoaic-flip-container {
        -webkit-transform: translateZ(-75px) rotateX(90deg);
        -moz-transform: translateZ(-75px) rotateX(90deg);
        -ms-transform: translateZ(-75px) rotateX(90deg);
        -o-transform: translateZ(-75px) rotateX(90deg);
        transform: translateZ(-75px) rotateX(90deg);
    }

    .seoaic-flip-side {
        -webkit-transform: rotateX(-90deg) translateZ(26px) translateY(-8px);
        -moz-transform: rotateX(-90deg) translateZ(26px) translateY(-8px);
        -ms-transform: rotateX(-90deg) translateZ(26px) translateY(-8px);
        -o-transform: rotateX(-90deg) translateZ(26px) translateY(-8px);
        transform: rotateX(-90deg) translateZ(26px) translateY(-8px);
    }

    #wizard_keywords_uncheck_all {
        border: 1px solid #100717 !important;
        color: #100717 !important;
        transition: all 300ms ease-out;

        &:hover {
            border: 1px solid #100717 !important;
            color: #FFF !important;
            background-color: #100717 !important;
        }
    }
}

#wizard-view-post-content {
    .post-title {
        color: #100717;
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
    }

    .post-content {
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
        }
    }


}