#toplevel_page_seoaic .dashicons-admin-generic {
    background-image: url("../img/s-logo.png") !important;
    background-size: 60%;
    background-position: center 5px;
    background-repeat: no-repeat;
}

#toplevel_page_seoaic .dashicons-admin-generic:before {
    content: '' !important;
}

#toplevel_page_seoaic .wp-submenu li a[href="admin.php?page=seoaic-onboarding-wizard"],
#toplevel_page_seoaic .wp-submenu li a[href="admin.php?page=seoaic-locations"] {
    display: none;
}