.seoaic_image_uploader {
  --sapace-: 15px;
  --dem-: 180px;
  display: flex;
  height: 85px;

  .image-preview-wrapper {
    width: 0;

    .top {
      img {
        width: auto;
        display: inline-block;
        height: var(--dem-);
        object-fit: cover;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;

      > .remove_selected_image {
        display: none;
        color: red;
        text-decoration: none;
        font-size: 12px;
      }
      > .change_selected_image {
        display: none;
        color: #2271b1;
        text-decoration: none;
        font-size: 12px;
      }
    }
  }

  .uploader_buttons_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #f5f5f5;
    border: 0 dashed #999;
    width: var(--dem-);
    position: relative;

    .upload_image_button {
      color: #000;
      text-decoration: none;
      font-size: 14px;
      padding: 10px 20px;
      border: 1px solid;
      border-radius: 2px;

      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.selected {
    height: var(--dem-);
    margin-bottom: 25px;

    .image-preview-wrapper {
      width: auto;
      //margin-right: var(--sapace-);

      .top {
        padding: 2px;
        border: 1px solid #dfdfdf;
      }

      .bottom {
        > .remove_selected_image, .change_selected_image {
          display: flex;
          align-items: center;
        }
      }
    }

    .uploader_buttons_wrapper {
      //margin-left: var(--sapace-);
      //height: var(--dem-);
      display: none;
    }

  }
}

.ajax-work {
  .seoaic_image_uploader {

    .image-preview-wrapper {
      width: 0;

      .top {
        img {

        }
      }

      .bottom {

        > .remove_selected_image {

        }
        > .change_selected_image {

        }
      }
    }

    .uploader_buttons_wrapper {

      .upload_image_button {

        &:after {

        }
      }
    }

    &.selected {

      .image-preview-wrapper {

        .top {

        }

        .bottom {
          > .remove_selected_image, .change_selected_image {
            display: none;
          }
        }
      }

      .uploader_buttons_wrapper {

      }

    }
  }
}