.tags-container {
  background-color: #fff;
  min-height: 60px;
  border-radius: 5px;
  border: 1px solid #F1EBF7;
  padding: 3px 30px;
  box-shadow: none;
  align-items: center;
  position: relative;

  .palette-selector {
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 25px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M16.2541 0.74653C15.2602 -0.248843 13.6472 -0.248843 12.6533 0.74653L10.2505 3.15285L9.65142 2.55295C9.32011 2.22116 8.78132 2.22116 8.45001 2.55295C8.11871 2.88474 8.11871 3.42432 8.45001 3.75611L9.04904 4.35601L1.59965 11.8163C1.11775 12.2989 0.853373 12.939 0.853373 13.6194C0.853373 14.0014 0.94373 14.3667 1.10102 14.7019L0.250997 15.5531C-0.0803106 15.8849 -0.0870037 16.4312 0.250997 16.7563C0.722858 17.2087 1.28508 16.9239 1.4524 16.7563L2.29573 15.9117C2.63708 16.0759 3.00854 16.1731 3.40009 16.1731C4.07944 16.1731 4.71862 15.9084 5.20053 15.4258L12.6533 7.96215L13.2523 8.56205C13.7777 9.03795 14.2864 8.72962 14.4537 8.56205C14.785 8.23026 14.785 7.69068 14.4537 7.35889L13.8547 6.75899L16.2575 4.35266C17.2481 3.35729 17.2481 1.7419 16.2541 0.74653ZM9.09255 9.12174L7.04112 8.76984L10.2505 5.55582L10.8495 6.15573L11.4485 6.75563L9.09255 9.12174Z' fill='%23100717' fill-opacity='0.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  .tags-label {
    color: #474747;
    font-family: Archivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 110px;
    margin-right: 17px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .tag {
    border-radius: 51px;
    background: #EAEEF9;
    color: #100717;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 6px 10px 6px 0;
    padding: 6px 10px 6px 8px;

    .tag__name {
      margin-right: 13px;
    }

    .tag__color {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 51px;
      margin-right: 10px;
    }

    .tag__remove {
      width: 10px;
      height: 10px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11M11 1L1 11' stroke='black'/%3E%3C/svg%3E");
      cursor: pointer;
      background-size: cover;
      background-position: center;
    }
  }

  .color-palettes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
    background-color: #fff;
    border-radius: 5px;
    margin-left: auto;
    padding: 10px;
    position: absolute;
    top: 100%;
    z-index: 1;
    right: 0;
    transform: translateY(40px);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;

    &.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    > .color {
      width: 14.333%;
      height: 30px;
      margin: 5px;
      cursor: pointer;
    }
  }

  ~ .tags-container {
    margin-top: 5px;
  }
}