.seoaic_input_repeater {
  > div {
    .service-section {
      position: relative;
      width: 75%;
      border: 1px solid #fff;
      padding: 10px;
      border-radius: 10px;

      + .service-section {
        margin-top: 20px;
      }

      .item {
        display: flex;
        align-items: start;
        position: relative;
        flex-direction: column;

        > input{
          + textarea {
            margin-top: 12px;
          }
        }

        > .delete {
          position: absolute;
          right: -40px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          min-width: 20px;
          margin-left: 10px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' class='bi bi-dash-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
        }

        + .item {
          margin-top: 12px;
        }
      }
    }

    .prompt-section {
      position: relative;
      width: 75%;
      border: 1px solid #fff;
      padding: 10px;
      border-radius: 10px;

      + .prompt-section {
        margin-top: 20px;
      }

      .item {
        display: flex;
        align-items: start;
        position: relative;
        flex-direction: column;

        > input {
          + textarea {
            margin-top: 12px;
          }
        }

        > .delete-prompt {
          position: absolute;
          right: -40px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          min-width: 20px;
          margin-left: 10px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' class='bi bi-dash-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
        }

        + .item {
          margin-top: 12px;
        }
      }
    }
  }

  > .add,
  > .add-prompt {
    display: inline-block;
    min-width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    background-size: auto;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 24px;
    color: #000;
    text-underline-offset: 3px;
    text-decoration-style: dotted;
    margin-top: 12px;
  }
}