.seoaic_input_repeater {
  &.seoaic_locations {
    > .list {
      > .location-section {
        position: relative;
        width: 75%;
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;

        > .item {

          pointer-events: none;
          flex-direction: column;
          align-items: start;

          &.loaded {
            pointer-events: auto;
          }

          > .select-all {

            > .check {
              display: inline-block;
            }

            > span {

              cursor: pointer;
              text-decoration: underline;
              margin-left: 15px;
              padding-top: 5px;

              &:not(.check) {
                display: none;
              }
            }

            &.checked {
              > .uncheck {
                display: inline-block;
              }

              > .check {
                display: none;
              }
            }
          }

          + .item {
            margin-top: 12px;
          }

          &.not-active {
            height: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;

            //+ .select2 {
            //  height: 0;
            //  padding: 0;
            //  margin: 0;
            //  overflow: hidden;
            //  opacity: 0;
            //  visibility: hidden;
            //}
          }

          select {
            width: 100% !important;

            + .select2 {
              width: 100% !important;
              transition: all .3s;

              .select2-selection {
                min-height: 50px;
                border-radius: 5px;
                border: 1px solid #f1ebf7;
                background: #fff;
                width: 100%;
                padding-left: 15px;
                padding-right: 30px;
                padding-bottom: 0;
                display: flex;
                align-items: center;

                &:after {
                  content: '';
                  width: 16px;
                  height: 16px;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' viewBox='0 0 15 9' fill='none'%3E%3Cpath d='M1 1L7.5 7.5L14 1' stroke='%23100717'/%3E%3C/svg%3E");
                  margin-left: auto;
                  background-repeat: no-repeat;
                  background-position: center;
                  position: absolute;
                  right: 20px;
                  cursor: pointer;
                  transition: all .3s;
                }

                .select2-search {
                  textarea {
                    margin: 0px;
                    margin-left: 10px;
                  }
                }

                ul {
                  margin-left: -10px;
                  margin-top: 0;
                  margin-bottom: 0;

                  li {
                    padding: 5px 25px 5px 15px;
                    border-radius: 35px;
                    border-width: 0;
                    background-color: #EAEEF9;
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 5px 0 5px 10px;

                    button {
                      right: 12px;
                      width: 12px;
                      height: 12px;
                      border-width: 0;
                      left: auto;
                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M6 0.00012207C2.68575 0.00012207 0 2.68662 0 6.00012C0 9.31362 2.68575 12.0001 6 12.0001C9.31425 12.0001 12 9.31362 12 6.00012C12 2.68662 9.31425 0.00012207 6 0.00012207ZM8.78025 7.71987C8.92088 7.8605 8.99989 8.05124 8.99989 8.25012C8.99989 8.449 8.92088 8.63974 8.78025 8.78037C8.63962 8.921 8.44888 9.00001 8.25 9.00001C8.05112 9.00001 7.86038 8.921 7.71975 8.78037L6 7.06062L4.28025 8.78037C4.21076 8.85026 4.12814 8.90572 4.03714 8.94357C3.94614 8.98141 3.84856 9.0009 3.75 9.0009C3.65144 9.0009 3.55386 8.98141 3.46286 8.94357C3.37186 8.90572 3.28924 8.85026 3.21975 8.78037C3.15004 8.71078 3.09474 8.62813 3.057 8.53714C3.01927 8.44616 2.99985 8.34862 2.99985 8.25012C2.99985 8.15162 3.01927 8.05409 3.057 7.9631C3.09474 7.87212 3.15004 7.78946 3.21975 7.71987L4.9395 6.00012L3.21975 4.28037C3.07912 4.13974 3.00011 3.949 3.00011 3.75012C3.00011 3.55124 3.07912 3.3605 3.21975 3.21987C3.36038 3.07924 3.55112 3.00024 3.75 3.00024C3.94888 3.00024 4.13962 3.07924 4.28025 3.21987L6 4.93962L7.71975 3.21987C7.86038 3.07924 8.05112 3.00024 8.25 3.00024C8.44888 3.00024 8.63962 3.07924 8.78025 3.21987C8.92088 3.3605 8.99989 3.55124 8.99989 3.75012C8.99989 3.949 8.92088 4.13974 8.78025 4.28037L7.0605 6.00012L8.78025 7.71987Z' fill='%23100717'/%3E%3C/svg%3E");
                      top: 50%;
                      transform: translateY(-50%);

                      span {
                        display: none;
                      }

                      + span {
                        padding-right: 10px;
                      }
                    }
                  }
                }
              }

              .select2-selection__arrow {
                display: none;
              }

              &.select2-container--open {
                .select2-selection {

                  &:after {
                    transform: rotate(180deg);
                  }
                }
              }
            }

            &:not(.select-cities) {
              + .select2 {
                .select2-selection__clear {
                  display: none;
                }
              }
            }

            &.select-cities {
              + .select2 {
                .select2-selection__clear {
                  margin: 0 5px 0 0;
                }
              }
            }
          }
        }

        .delete {
          position: absolute;
          right: -40px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          min-width: 20px;
          margin-left: 10px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' class='bi bi-dash-circle'%3E%3Cpath d='M8 15A7 7 0 118 1a7 7 0 010 14zm0 1A8 8 0 108 0a8 8 0 000 16z'/%3E%3Cpath d='M4 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 014 8z'/%3E%3C/svg%3E");
        }
      }
    }
  }
}