#seoaic-admin-title {
  background-color: #100717;
  padding: 38px 60px 37px 60px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 10px 10px 0 0;
}